
<div class="container">
  <div class="header">

    <h1 class="mat-h1" style="font-weight: 700;">
      Contacts
    </h1>
 
    </div>
  <div class="content">
    <mat-card class="toggle" >
      <div class="avatar" mat-card-avatar [ngStyle]="{backgroundImage: 'url(../../../../assets/images.png)'}"></div>
      <p class="mat-h5"> 
        <span style="font-weight: 700;">
        Fullname
      </span> 
        <br>
        <span style="color: #bdbdbd; font-weight: 500;">
          Proffesion
        </span>
      </p>
     
    </mat-card>
    
    
  </div>
</div>