.container{
  width: 100%;
  height: 100%;
  .header{
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    button{
      margin: 0 .3rem;
    }
  }
  .content{
    width: 100%;
    // padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    mat-card{
      margin: 1rem 0;
      width: 270px;
      height: 300px;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      button{
        width: 150px;
        height: 50px;
        transform: translateY(70%);
        border-radius: 0;
        border-left: 2px solid #fff;

      }
    }
  }
}
.mat-card-avatar{
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat; 
  height: 130px; 
  width: 130px; 
  border-radius: 50%;
}
.container{
  .content{
    .toggle{
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      box-shadow: 0 0 0 #eee;
      background-color: transparent;
      border-bottom: 1px solid gray;
      border-radius: 0;
      .avatar{
        height: 50px;
        width: 50px;
      }
      p{
        position: absolute;
        left: 80px;
        bottom: 0;
        top: 17px;
        // transform: translate(-250%, 15%);
      }
      button{
        width: 100px;
        height: 40px;
        transform: translateY(-0%);
      }
    }
  }
}