header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  p{
    font-weight: 600;
    font-size: 1.2rem;
  }
  button{
    margin: 0 .5rem;
    border-radius: 1.5rem;
  }
}
section{
  width: 100%;
  height: 570px;
  overflow-y: scroll;

  div.all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: 1.5px solid rgb(197, 197, 197);
    // flex-direction: column;
    span{
      color: gray;
      // margin-bottom: 1rem;
      // margin-top: -1rem;
      // transform: ;
      font-size: .7rem;
      font-weight: 400;
      // transform: translateY(-20%);
    }
    h4{
      font-weight: 500;
      font-size: 1rem;
      text-align: left;
      // margin-left: 1rem;
    }
  }
}