@import './../../assets/styles/varia2';

.blog-sec {
    width        : 100%;
    margin-bottom: 50px;
    margin-top: 30px;
}

.blog-container {
    width: 90%;

    .blog-header {
        width        : 50%;
        margin-bottom: 50px;

        .blog-title {
            font-size     : 27px;
            font-weight   : 500;
            margin-bottom : 20px;
            text-align    : center;
            text-transform: uppercase;
        }

        .blog-txt {
            font-size: 14px;
            color    : $gray;
        }
    }

    .blogs-container {
        width          : 100%;
        display        : flex;
        justify-content: space-between;

        .blog-card {
            width         : 32%;
            min-width     : 230px;
            display       : flex;
            flex-direction: column;
            // cursor: pointer;

            .blog-img-container {
                width        : 100%;
                height       : 250px;
                margin-bottom: 20px;
            }

            .blog-name {
                text-transform: capitalize;
                align-self    : center;
                font-size     : 23px;
                font-weight   : 500;
                margin-bottom : 25px;
            }

            .mini-container {
                width          : 100%;
                display        : flex;
                justify-content: space-between;
                align-items    : center;
                margin-bottom  : 25px;
                color          : $gray;
                font-size      : 20px;
                font-weight    : 300;
            }

            .blog-card-txt {
                line-height: 1.8;
                color      : $gray;
                font-size  : 15px;
            }
        }
    }

    @media only screen and (max-width:800px) {
        .blog-header {
            width: 80%;
        }

        .blogs-container {
            flex-wrap: wrap;

            .blog-card {
                margin       : 0 auto;
                margin-bottom: 30px;
            }
        }
    }
}