<main class="blog-sec">
    <div class="blog-container auto-margin">
        <div class="blog-header auto-margin">
            <h2 class="blog-title">blog & events</h2>
            <p class="blog-txt">
                Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident.
                Odit ab aliquam dolor eius.
            </p>
        </div>
        <div class="blogs-container">
            <mat-spinner *ngIf="!blogs"></mat-spinner>
            <div class="blog-card" *ngFor="let blog of blogs">
                <div class="blog-img-container">
                    <img src={{blog.fields.image.fields.file.url}} alt={{blog.fields.title}} class="full-img">
                </div>
                <h3 class="blog-name">{{blog.fields.title}}</h3>
                <div class="mini-container">
                    <h5 class="blog-date">{{blog.fields.createdOn | date}}</h5>
                    <h6 class="comments">21 <i class="fas fa-comment-alt"></i></h6>
                </div>
                <p class="blog-card-txt">
                    {{blog.fields.description}}
                </p>
                <a [routerLink]="['details', blog.sys.id]" class="blog-link">read more....</a>
            </div>
        </div>
    </div>
</main>
