<div class="grid-container">
  <div class="intr" [ngStyle]="{'display': 'flex', 'justify-content': 'space-between', 'width': '100%', 'align-items': 'center', 'flex-wrap': 'wrap'}">
    <h1 class="mat-h1" [ngStyle]="{'font-weight': '700'}">Home</h1> 
    <div class="nav">
      <button mat-flat-button routerLink="studentsAnalytics"  >All Users</button> &nbsp;
      <!-- <button mat-flat-button routerLink="instructorsAnalytics"  >Instructors</button> -->
    </div>
  </div> 
    <mat-grid-list cols="4" rowHeight="240px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <h2>
                {{card.title | titlecase}}
              </h2>
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>More</button>
                <button mat-menu-item>Today</button>
                <button mat-menu-item>Yesterday</button>
                
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <h1 [style.color]="card.color">
             {{card.heading }}<br> <span>{{card.task}}</span>
            </h1>
            <h3> {{card.titleDescription}} </h3>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="dashboard-card" *ngIf="card.title=='card 5'">
          <mat-card-content class="dashboard-card-content" >
         <mat-grid-list cols="2" rowHeight="200px" gutterSize="20px" >
           <mat-grid-tile *ngFor="let x of isFive | async" [colspan]="x.cols" [rowspan]="x.rows"  >
             <div *ngIf="x.one == 'card one' " [ngStyle]="{'justify-content': 'flex-end'}">
               <app-left></app-left>
             </div>
             <div class="div" *ngIf="x.one == 'card two' " >
               <app-right></app-right>
             </div>
           </mat-grid-tile>
         </mat-grid-list>
            
          </mat-card-content>
        </mat-card>
        

        <mat-card class="dashboard-card" *ngIf="card.title=='card 6'" >
          <mat-card-content class="dashboard-card-content cardSeven" >
            <!-- <app-schedule></app-schedule> -->
            <app-task-reviews></app-task-reviews>
          </mat-card-content>
        </mat-card>

        <mat-card class="dashboard-card" *ngIf="card.title=='card 7'" >
          <mat-card-content class="dashboard-card-content cardSeven" >
            <app-schedule></app-schedule>
          </mat-card-content>
        </mat-card>
  
      </mat-grid-tile>
  
    </mat-grid-list>
  </div>
  
  
  