<div class="general-container">
  
  <div class="plan-for-activity-form " [ngClass]="{'edit-activities': createActivity}">
     <div class="sidenav">
       <div class="header">
         <h1>Describe Activity</h1>
        <button class="close-form" (click)="toggleActivityForm()" mat-mini-fab color="primary">
          <span class="fas fa-times"></span>
        </button>
       </div>
       <form class="activity-form">
         <input type="text">
         <input type="text">
         <textarea ></textarea>
         <br>
         <button mat-raised-button color="primary">Submit Activity</button>
       </form>
     </div>
  </div>
  <div class="body">
    <div class="header">
      <h1>All Activities</h1> <button mat-raised-button (click)="toggleActivityForm()" color="primary">Create Activity</button>
    </div>
    <div class="message-activities">
      <div class="admin-status">
        <div class="admin">
        <div mat-card-avatar [ngStyle]="{backgroundImage: 'url(../../../../assets/images.png)', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center', 'cursor': 'pointer', 'width': '45px', 'height': '45px', 'border-radius': '50%', 'transform': 'translateY(15px)'}">
        </div>
        <p class="admin-name">Admin</p>
      </div>
        <small class="date-and-time" style="padding-left: 3rem; font-weight: 700;">{{dateConstructor}} </small>
      </div>
      <div class="activity">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, aperiam reiciendis laboriosam omnis facere autem ea sint officiis blanditiis quibusdam eos inventore minima quo rem voluptate et quis maiores? Blanditiis.
        </p>
        <div style="float: right;">
          <button mat-icon-button >
            <span class="fas fa-edit"></span>
          </button>
          <button mat-icon-button >
            <span class="fas fa-trash"></span>
          </button>
        </div>
      </div>
         
    </div>
  </div>
</div>
