.general-container{
  width: 100%;
  height: 90vh;
  padding: 0 5%;
  // position: relative;

  .body{
    width: 500px;
    max-width: 100%;
   
    .header{
      h1{
        font-size: 1.3rem;
        font-weight: 700;
      }
      .message-activities{
        width: inherit;
        padding-left: 2rem;
        position: relative;
      }
    }
  }
}
.admin{
  width: 100%;
  display: flex;
  align-items: center;
  height: 45px;
  p{
    margin:0 .5rem;
  }
}
.activity{
  p{
    background: #55898b;
    color: white;
    padding: 1rem;
    border-radius: 9px;
  }
}
.plan-for-activity-form{
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 110vw;
  z-index: 1;
  visibility: hidden;
  background: #111111d5;
  .sidenav{
    width: 400px;
    height: 100vh;
    background-color: #fff;
  //  padding: 1rem;
    float: right;
    .header{
      border-bottom: 2px solid #55898b;
      padding-left: 1rem;
      margin-bottom: 1rem;
      position: relative;
    button.close-form{
      position: absolute;
      right: 5%;
      top: 40%;
      transform: translate(0%, -60%);
      }
      h1{
        margin: 1rem 0;
        font-weight: 700;
      }
    
    }
    .activity-form{
      width: 100%;
      padding: 1rem ;
      input{
        width: 100%;
        padding: .5rem 1.3rem;
        border-radius: 10px;
        border: 2px solid #55898b;
        margin: 1rem 0;
        &:active{
          border:2px solid #55898b;
          outline: none;
        }
      }
      textarea{
        width: 100%;
        height: 150px;
        resize: none;
        border: 2px solid #55898b;
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 1rem;
        &:active{
          border:2px solid #55898b;
          outline: none;
        }
      }
    }
  }
}

.plan-for-activity-form.edit-activities{
  visibility: visible;
  animation: fromLeft 0.5s linear 0s;
}
@keyframes fromLeft {
  from{right:-100%; opacity: 0;}
  to{right: 0%; opacity: 1;}
}
