@import './../../../assets/fonts/font';

.mat-form-field{
    .mat-input-element{
        color: $default !important;
        font-family: $font-family;
        font-weight: 500;
    }
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border: 1px solid $default !important;
    min-width: 5px;
}

section.signup-section{
    height: 90vh;
    max-width: 100%;
    background: #f5f5f5;
    font-family: $font-family;


    h1.auth-heading{
        position: relative;
        text-align: center;
        padding: .5rem 1rem;
        font-size: 22px;
        font-weight: bold;
        font-family: $font-family;
        text-transform: uppercase;

        &::after{
            content: '';
            background-color: $secondary-orange;
            display: block;
            height: 2px;
            width: 7%;
            position: absolute;
            left: 47%;
            z-index: 1;
        }
    }

    div.container{
        width: 70%;
        height: 80%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        border-radius: 1rem;
        background: $default;
        box-shadow: 0px 3px 8px rgba(0,0,0,0.3), 0px 3px 4px rgba(0,0,0,0.3);

        div.form-img-container{

            width: 40%;
            img{
                width: 100%;
            }
        }  
            
        form{
            background: $primary-teal;
            height: 100%;
            width: 60%;
            position: relative;
            font-family: $font-family;
            overflow: hidden;
            
            span.left{
                display: block;
                text-align: right;
                margin-right: 1.3rem;
                padding: .3rem .5rem;
                font-size: 17px;
                color: $default;

                a.signup-btn{
                    text-decoration: none;
                    cursor: pointer;
                    color: $secondary-orange;
                    position: relative;
                
                    &::after{
                        position: absolute;
                        content: '';
                        display: block;
                        height: 2px;
                        background-color: #f5f5f5;
                        width: 0%;
                        z-index: 1;
                        left: 30%;
                    }

                    &:hover &::after{
                        width: 50%;
                        transition: all .35s ease;
                    }
                }
            }

            div.user-details{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 2rem;

                div.user-names,
                div.user-password{
                    display: flex;
                    justify-content: space-between;
                }

                mat-form-field{
                    
                    input{
                        width: 80%;  
                    }
                }
            }

            button._signup{
                background: $secondary-orange;
                color: $default;
                font-size: 18px;
                
                position: absolute;
                left: 45%;
                transform: translate(-45%);
                margin-bottom: 1rem;
            }
        }

        div.separation{
            text-align: center;
            position: relative;

            p.or{
                color: $secondary-orange;
                font-size: 20px;
                font-weight: 500;
                font-family: $font-family;
            }

            &::before{
                content: '';
                display: block;
                width: 30%;
                height: 2px;
                background-color: $default;
                z-index: 1;
                position: absolute;
                left: 17%;
                top: 40%;
            }

            &::after{
                content: '';
                display: block;
                width: 30%;
                height: 2px;
                background-color: $default;
                z-index: 1;
                position: absolute;
                right: 17%;
                top: 40%;
            }
            
        }

        div.social-btn-container{
            display: flex;
            justify-content: center;
            align-items: center ;
            padding-top: 3rem;
            
            button{
        
                &:hover{
                    transform: translateY(-20deg);
                    box-shadow: 1px 4px 10px rgba(131, 130, 130, 0.2), 3px 8px 14px rgba(0,0,0,0.5);
                    transition: all .35s ease-in;
                }
            }

            button:first-child{
                margin-right: 1rem;
                background-color: $default;
            }

            button:not(:first-child){
                background-color:rgb(26, 161, 214);
                color: $default;
            }
        }
        
    }
}

@media only screen  and (max-width: 1024px){

    section.signup-section{
        height: 100vh;
        width: 100%;

        div.container{            
            height: 75%;
            width: 80%;
            position: relative;
            // background-color: $default;
            
            flex-direction: row;
            border-radius: 1rem;

            div.form-img-container{
                width: 40%;
                height: 100%;
                background: $default;
               
                img{
                    display: block;
                    margin: 5rem auto;
                    width: 100%;
                    
                }
            }

            form{
                width: 60%;
                background-color: $primary-teal;
                height: 100%;
                overflow: hidden;

                span.left{
                    display: block;
                    padding-top: .3rem;
                    padding-bottom: .3rem;
                }

                div.user-details{
                    
                    div.user-names,
                    div.user-password{
                        display: flex;
                        flex-direction: row;
                        justify-content:  space-between;
                        align-items: center;
                        width: 100%;

                        mat-form-field{
                            width: 100%;

                            input{
                                padding: 0 3rem;
                            }

                            &:not(:last-child){
                                margin-right: .5rem;
                            }
                        }
                    }

                    mat-form-field{

                        input{
                            width: 80%;  
                        }
                    }
                }
            }

            div.social-btn-container{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;
            }
        }
    }
}

@media only screen and(max-width: 968px){

    section.signup-section{
        height: 120vh;
        width: 100%;

        div.container{            
            height: 100%;
            width: 80%;
            position: relative;
            // background-color: $default;
            
            flex-direction: column;
            border-radius: 1rem;

            &::before{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: 2px;
                width: 100%;
                background-color: $secondary-orange;
                z-index: 1;
            }
            &::after{
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                height: 2px;
                width: 100%;
                background-color: $secondary-orange;
                z-index: 1;
            }

            div.form-img-container{
                width: 100%;
                height: 40%;
               
                img{
                    
                    width: 65%;
                    display: block;
                    margin: 0 auto;
                }
            }

            form{
                width: 100%;
                background-color: $primary-teal;
                height: 60%;

                span.left{
                    display: block;
                    padding-top: .3rem;
                    padding-bottom: .3rem;
                }

                div.user-details{
                    
                    div.user-names,
                    div.user-password{
                        display: flex;
                        flex-direction: row;
                        justify-content:  space-between;
                        align-items: center;
                        width: 100%;

                        mat-form-field{
                            width: 70%;

                            input{
                                padding: 0 3rem;
                            }

                            &:not(:last-child){
                                margin-right: .5rem;
                            }
                        }
                    }

                    mat-form-field{

                        input{
                            width: 80%;  
                        }
                    }
                }
            }

            div.social-btn-container{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;
            }
        }
    }
}

@media only screen and(max-width: 652px){

    section.signup-section{
        height: 100vh;
        width: 100%;

        div.container{            
            height: 100%;
            width: 80%;
            position: relative;
            // background-color: $default;
            background-color: $primary-teal;
            
            flex-direction: column;
            border-radius: 1rem;

            &::before{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: 2px;
                width: 100%;
                background-color: $secondary-orange;
                z-index: 1;
            }
            &::after{
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                height: 2px;
                width: 100%;
                background-color: $secondary-orange;
                z-index: 1;
            }

            div.form-img-container{
                display: none;
               
                img{
                    
                    height: 0%;
                    
                }
            }

            form{
                width: 100%;
                height: 100%;

                span.left{
                    display: block;
                    padding-top: .3rem;
                    padding-bottom: .3rem;
                }

                div.user-details{
                    
                    div.user-names,
                    div.user-password{
                        display: flex;
                        flex-direction: column;
                        justify-content:  space-between;
                        align-items: center;
                        width: 100%;

                        mat-form-field{
                            width: 100%;

                            input{
                                padding: 0 3rem;
                            }

                            &:not(:last-child){
                                margin-right: .5rem;
                            }
                        }
                    }

                    mat-form-field{

                        input{
                            width: 80%;  
                        }
                    }
                }
            }

            div.social-btn-container{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;
            }
        }
    }
}

@media only screen and(max-width: 420px){

    section.signup-section{
        height: 100vh;
        width: 100%;

        div.container{            
            height: 100%;
            width: 80%;
            position: relative;
            // background-color: $default;
            background-color: $primary-teal;
            
            flex-direction: column;
            border-radius: 1rem;
            padding: 1rem 0;

            &::before{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: 2px;
                width: 100%;
                background-color: $secondary-orange;
                z-index: 1;
            }
            &::after{
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                height: 2px;
                width: 100%;
                background-color: $secondary-orange;
                z-index: 1;
            }

            div.form-img-container{
                display: none;
               
                img{
                    
                    height: 0%;
                    
                }
            }

            form{
                width: 100%;
                height: 100%;

                span.left{
                    display: block;
                    padding-top: .3rem;
                    padding-bottom: .3rem;
                }

                div.user-details{
                    
                    div.user-names,
                    div.user-password{
                        display: flex;
                        flex-direction: column;
                        justify-content:  space-between;
                        align-items: center;
                        width: 100%;

                        mat-form-field{
                            width: 100%;

                            input{
                                padding: 0 3rem;
                            }

                            &:not(:last-child){
                                margin-right: .5rem;
                            }
                        }
                    }

                    mat-form-field{

                        input{
                            width: 80%;  
                        }
                    }
                }
            }

            div.social-btn-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                button:not(:last-child){
                    margin-bottom: .5rem;
                }
            }
        }
    }
}
