<section class="signup-section">
    <h1 class="auth-heading">Hi welcome! Please signup</h1>

    <div class="container">

        <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="signup()">
    
            <span class="left">
                Already have an account? <a class="signup-btn" routerLink="/auth/login">login</a>
            </span>
            
            <div class="user-details">

                <div class="user-names">
                    <mat-form-field appearance="outline">
                        <mat-label>First name</mat-label>
                        <input type="text" matInput placeholder="..." class="in" formControlName="firstName" required>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>Last name</mat-label>
                        <input type="text" matInput placeholder="..." class="in" formControlName="lastName" required>
                    </mat-form-field>
                </div>
                
                <mat-form-field appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input type="tel" matInput placeholder="..." class="in" formControlName="phoneNumber" required>
                </mat-form-field >
    
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="..." class="in" formControlName="email" required>
                </mat-form-field>
    
                <div class="user-password">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="..." class="in" formControlName="password" required>   
                    </mat-form-field>
        
                    <mat-form-field appearance="outline">
                        <mat-label>Repeat Password</mat-label>
                        <input type="password" matInput placeholder="..." class="in" formControlName="repassword" required>       
                    </mat-form-field>
                </div>
            </div>
            
            <button mat-button type="submit" class="_signup" [disabled]="!signupForm.valid">Sign Up</button>

            <div class="social-btn-container">
                <button mat-button class="signup-btn" (click)="googleSignup()">Sign Up with Google</button>
                <!-- <button mat-button color="accent" class="signup-btn" (click)="facebookSignup()">Sign Up with Facebook</button> -->
            </div>
        </form>

        <div class="form-img-container">

            <img src="./../../../assets/img/2form.png" alt="" srcset="">

        </div>
    </div>
</section>