<main class="general-container">
  <div class="hero-page">
    <div class="school-name_andLocation">
      <h1>More About {{school.name}}</h1>
      <h3> <span class="fas fa-globe"></span> {{school.location}}</h3>
    </div>
    <div class="school-links_and_images">
      <div class="school-avatarImage">
        <img src={{school.pictureUrl}} alt="">
      </div>
      <div class="social-media-links">
        <span class="fab fa-facebook-f icon"></span>
        <span class="fab fa-linkedin icon"></span>
        <span class="fab fa-linkedin icon"></span>
      </div>
    </div>
  </div>

  <div class="main-body">
    <div class="history_about_schoool">
      <h1>History</h1>
      <p>{{school.description}}
      </p>
      <p>
        {{school.createdBy}}
      </p>
    </div>
    <div class="what_they_offer"></div>
    <div class="years_of_experience_and_teachers"></div>

  </div>
  <a routerLink="create-course" *ngIf="checkAdmin()">create a course</a>
  <section class="courses-sec" *ngIf="courses.length > 0">
    <h3 class="title">list of courses</h3>
    <div class="courses-container">
      <div class="course-container" *ngFor="let course of courses; let i = index">
        <div class="img-container">
          <img src={{course.imageUrl}} alt="" class="full-img">
        </div>
        <h5 class="course-name">{{course.name}}</h5>
        <div class="btn-container">
          <a [routerLink]="['course', course.id]" class="course-link btn">course details</a>
          <button class="edit-btn btn" (click)="editCourse(course, i)" *ngIf="checkAdmin()">edit course</button>
          <button class="add-btn btn" (click)="student(course)" *ngIf="checkAdmin()">add students +</button>
        </div>
      </div>

      <div class="edit-form-container" *ngIf="editForm">
        <form class="edit-form" (ngSubmit)="saveCourse()" #editForm="ngForm">
          <label for="name">course name</label>
          <input type="text" name="name" class="in" placeholder="course name" [(ngModel)]="currentCourse.name"  #name="ngModel" required>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
          </div>
          <label for="intructor">instructor email</label>
          <input type="email" name="instructor" id="" class="in" placeholder="instructor email"
            [(ngModel)]="currentCourse.instructor" #instructor="ngModel" required>
            <div [hidden]="instructor.valid || instructor.pristine" class="alert alert-danger">
              Instructor email is invalid
            </div>
          <label for="introVideo">course intro video link</label>
          <input type="text" name="introVideo" id="" class="in" placeholder="course intro video link"
            [(ngModel)]="currentCourse.introVideoUrl">
          <label for="details">course description/details</label>
          <textarea name="details" id="" cols="30" rows="10" class="in" placeholder="course details"
            [(ngModel)]="currentCourse.details" required></textarea>
          <button type="submit" class="submit-btn" [disabled]="!editForm.form.valid">save changes</button>
        </form>
      </div>
      <div class="student-form-container">
        <form class="student-form" *ngIf="studentForm" #studentForm="ngForm">
          <input type="email" name="student" id="student" class="student-in"
              placeholder="enter email of student" [(ngModel)]="studentEmail" #student="ngModel" required>
              <div [hidden]="student.valid || student.pristine" class="alert alert-danger">
                student email is invalid
              </div>
          <input type="submit" value="+" class="submit-btn" (click)="addStudent()" [disabled]="!studentForm.form.valid">
      </form>
      </div>
    </div>
  </section>
</main>
