.general-container{
  width: 100%;
  .hero-page{
    width: inherit;
    height: 75vh;
    box-shadow: 2px 2px 5px #111;
    .school-name_andLocation{
      width: inherit;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      height:60vh;
      text-align:right;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &::after{
        content: "";
        display: block;
        position: absolute;
        // padding:  0;
        width: inherit;
        height:inherit;
        // top: 0;
        // left: 0;
        background-color: rgba(black, 0.5);
      }
      h1{
        font-size: 2rem;
        font-weight: 700;
        // line-height: 3rem;
        margin-bottom: 1rem;
        color: white !important;
        z-index: 100000 !important;
      }
      h3{
        font-weight: 500;
        z-index: 100000 !important;
        font-size:1.5rem;
        color: white !important;
        .fas{
          font-size:1.7rem;
          margin-right: 1rem;
        }
      }
    }
  }
  .school-links_and_images{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .school-avatarImage{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      border: 15px solid #fff;
      transform: translate(-50%, -25%);
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .social-media-links{
      // float: right;
      transform: translate(20%, -50%);
      width: 10%;
      font-size: 1.5rem;
      display: flex;justify-content:space-between;
      align-items: center;
     .icon{
        // font-size: 1.6rem;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        color: #111;
        overflow: hidden;
        background: rgba(253, 186, 77, 0.9);
      }
    }
  }
  .main-body{
    padding: 5%;
    h1{
      font-weight: 700;
    }
    p{
      text-align: justify;
      width: 80%;
    }
  }
}

.courses-sec {
  width: 100%;

  .title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
  }

  .courses-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .course-container {
      width: 280px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .img-container {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
        background-image: url('./../../../assets/img/course.jpg');
        background-size: cover;
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
        }
      }

      .course-name {
        font-size: 18px;
        margin-bottom: 10px;
      }
      .btn-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .btn {
          width: 120px;
          padding: 5px 0;
          color: white;
          margin-bottom: 10px;
          font-weight: 300;
        }
        .edit-btn {
          background-color: rgb(255, 145, 0);
        }
        .add-btn {
          background-color: rgb(84, 84, 190);
        }
        .course-link {
          background-color: blueviolet;
        }
      }
    }
  }

  .edit-form-container {
    width: 100%;
    border: 1px solid black;
    padding: 30px 0;
    .edit-form {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      label {
        margin-bottom: 10px;
        font-size: 20px;
        text-transform: capitalize;
        font-weight: 300;
      }

      .in {
        width: 100%;
        border-radius: 5px;
        padding-left: 5px;
        margin-bottom: 20px;
        border: 1px solid rgb(65, 63, 63);
      }

      .submit-btn {
        background-color: rgb(32, 180, 32);
        color: white;
        font-weight: 300;
        border-radius: 20px;
        width: 150px;
        padding: 5px 0;
        cursor: pointer;
      }
    }
  }

  .student-form-container {
    width: 50%;
    .student-form {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .submit-btn {
          background-color: crimson;
          color: white;
          border: none;
          cursor: pointer;
          font-size: 21px;
          border-radius: 10px;
          padding: 3px 15px;
      }

      .close-btn {
        background-color: red;
          color: white;
          border: none;
          cursor: pointer;
          font-size: 21px;
          border-radius: 10px;
          padding: 3px 15px;
      }
  }
  }
}