.container{
  width: 100%;
  height: 100%;
  // background-color: red;
  padding: 0;
  .content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .sidebar{
      width: 300px;
      height: 90vh;
      background-color: #eee;
    }
  }
  .main-content{
    width: 80%;
    padding: 0 4rem;
  }
  div.input{
    width: 100%;
    margin: 1rem 0;
    // background: red;
    padding-left: .9rem;
    input{
     
      width: 98%;
      padding: .7rem 1.5rem;
      border-radius: 5px;
      background-color: none;
      border: 2px solid teal;
      &:active{
        border: 2px solid teal;
      }
    }
  }
}
.col{
  width: 100%;
  // background: red;
  div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    input{
      width: 48%;
      padding: .7rem 1.5rem;
      border-radius: 5px;
     margin: 0;
      background-color: none;
      border: 2px solid teal;
      &:active{
        border: 2px solid teal;
      }
    }
  }
}
.textarea{
  width: 100%;
  margin: 2rem 0;
  padding-left: .9rem;
  textarea{
    width: 98%;
    border-radius: 5px;
    resize: none;
    height: 130px;
    border: 2px solid teal;
    &:active{
      border: 2px solid teal;
    }
  }
}




.team{
  width: 100%;
  height: 100%;
  .header{
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    button{
      margin: 0 .3rem;
    }
  }
  .teamcontent{
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    mat-card{
      margin: 1rem 0;
      width: 270px;
      height: 300px;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      flex-direction: column;
     
    }
  }
}
.mat-card-avatar{
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat; 
  height: 130px; 
  width: 130px; 
  border-radius: 50%;
}
.team{
  width: 80%;
  float: right;
  .teamcontent{
    .toggle{
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      .avatar{
        height: 50px;
        width: 50px;
      }
      p{
        position: absolute;
        left: 80px;
        bottom: 0;
        // transform: translate(-250%, 15%);
      }
      button{
        transform: translate(0%,10%); margin: 0 1rem;
      }
      mat-form-field{
        // width: 100px;
        // height: 40px;
        transform: translateY(12%);
      }
    }
  }
}