<div class="header">
  <button mat-raised-button (click)="meetTeam()">team</button>
  <button mat-raised-button (click)="setting()">settings</button>
</div>
<div class="container" *ngIf="settings">
  <div class="content">
    <div class="main-content">
      <div class="form">
        <h2>Account</h2>
        <h5>Profile</h5>
        <p>Following information is publicly displayed, be careful!</p>
        <form >
          <div class="input">
            <label for="display name">DisplayName</label>
            <input type="text">
          </div>

         

<div class="input">
        <label for="display name">Name</label>
        <input type="text">
      </div>

      <div class="col">
        <div class="label">
          <label for="display name">Title</label>
          <label for="display name">School</label>
        </div>
        <div>
          <input type="text">
          <input type="text">
        </div>
      </div>
      
      <div class="textarea">
        <label for="textarea">About</label>
        <textarea></textarea>
        <span>Basic Description About Your Profile.</span>
      </div>

    <hr>
    <h4>
      Personal Information
    </h4>
    <p>
Communication details in case we want to connect with you. These will be kept private.
    </p>
    <div class="col">
      <div class="label">
        <label for="display name">Email</label>
        <label for="display name">Phone</label>
      </div>
      <div>
        <input type="text">
        <input type="text">
      </div>
    </div>
<br>
    <div class="col">
      <div class="label">
        <label for="display name">Country</label>
        <label for="display name">Language</label>
      </div>
      <div>
        <input type="text">
        <input type="text">
      </div>
    </div>
    <br>
    <hr>
<br>
    <div class="btn">
      <button mat-stroked-button>cancel</button>

      <button mat-flat-button color="primary">save</button>
    </div>

        </form>
      </div>
    </div>
  </div>
</div>




<div class="team" *ngIf="team">
  <div class="header">
    <h1 class="mat-h1" style="font-weight: 700;">
      Team
    </h1>
    </div>
  <div class="teamcontent">
    <mat-card class="toggle" >
      <div class="avatar" mat-card-avatar [ngStyle]="{backgroundImage: 'url(../../../../assets/images.png)'}"></div>
      <p class="mat-h5"> 
        <span style="font-weight: 700;">
        Fullname
      </span> 
        <br>
        <span style="color: #bdbdbd; font-weight: 500;">
          Proffesion
        </span>
      </p>
      <div >
        
        <mat-form-field appearance="outline">
          <mat-label>Role</mat-label>
          <mat-select name="role">
            <mat-option>
            Admin
            </mat-option>
            <mat-option>
              student
              </mat-option>
              <mat-option>
                instructor
                </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
    
  </div>
  <button mat-flat-button color="primary">
    Save All
  </button>
</div>