@import './../../assets/styles/varia2';

/******
************************
INTRO SECTION
************************
******/

.intro-sec {
    width: 100%;
}

.carousel-container {
    width : 100%;
    margin: 0 auto;

    .carousel-item {
        width : 100%;
        height: 100vh;

        // position: relative;
        .carousel-caption {
            position        : absolute;
            top             : 35%;
            height          : 200px;
            background-color: rgba(0, 0, 0, 0.397);

            h2 {
                font-size  : 27px;
                font-weight: 900;
            }

            p {
                .author {
                    color: $gray;
                }
            }

            .intro-link {
                padding         : 10px 24px;
                background-color: $bluish;
                color           : whitesmoke;
                border-radius   : 20px;
                text-transform  : uppercase;
                font-size       : 15px;
                font-weight     : 600;
            }
        }
    }
}




/******
************************
CATEGORY SECTION
************************
******/

.category-sec {
    width: 100%;
}

.category-container {
    width: 90%;

    .category-header {
        width : 50%;
        margin: 50px auto;

        .category-title {
            font-size     : 27px;
            font-weight   : 500;
            margin-bottom : 20px;
            text-transform: uppercase;
        }

        .category-txt {
            font-size: 14px;
            color    : $gray;
        }
    }

    .categories-container {
        width          : 100%;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        flex-wrap      : wrap;

        .category-card {
            width         : 280px;
            display       : flex;
            flex-direction: column;
            align-items   : center;
            margin-bottom : 20px;

            .img-container {
                width           : 90px;
                height          : 90px;
                border-radius   : 50%;
                background-color: rgba(0, 0, 0, 0.055);
                margin-bottom   : 15px;

                i,
                svg {
                    font-size: 36px;
                }
            }

            .category-name {
                font-size     : 25px;
                font-weight   : 400;
                text-transform: capitalize;
                margin-bottom : 15px;
                cursor        : pointer;
            }

            .category-desc {
                text-align : center;
                font-size  : 15px;
                color      : $gray;
                line-height: 1.8;
            }

            &:hover {
                .img-container {
                    background-color: $bluish;

                    i,
                    svg {
                        color: white;
                    }
                }
            }
        }
    }

    @media only screen and (max-width:700px) {
        .category-header {
            width: 80%;
        }

        .categories-container {
            .category-card {
                margin: 0 auto;
            }
        }
    }
}





/******
************************
INFO SECTION
************************
******/

.info-sec {
    width           : 100%;
    min-height      : 380px;
    background-color: rgb(29, 45, 75);
    margin-bottom   : 50px;
}

.infos-container {
    width          : 75%;
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    .info-card {
        height         : 170px;
        color          : white;
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: space-between;

        i,
        svg {
            font-size    : 43px;
            color        : white;
            margin-bottom: 20px;
        }

        .card-number {
            font-size  : 45px;
            font-weight: 500;
        }

        .info-card-title {
            font-weight: 500;
        }
    }

    @media only screen and (max-width:1000px) {
        flex-direction: column;
        margin        : 50px 0;

        .info-card {
            margin-bottom: 30px;
        }
    }
}




/******
************************
COURSE SECTION
************************
******/

.course-sec {
    width        : 100%;
    margin-bottom: 50px;
}

.course-container {
    width: 90%;

    .course-header {
        width        : 50%;
        margin-bottom: 50px;

        .course-title {
            font-size     : 27px;
            font-weight   : 500;
            margin-bottom : 20px;
            text-align    : center;
            text-transform: uppercase;
        }

        .course-txt {
            font-size : 14px;
            color     : $gray;
            text-align: center;
        }
    }

    .courses-container {
        width                : 100%;
        display              : grid;
        grid-template-columns: 1fr 1fr;
        column-gap           : 30px;
        row-gap              : 30px;

        .course-card {
            min-height     : 320px;
            max-height: 350px;
            display        : flex;
            justify-content: space-between;

            .course-img-container {
                height  : 100%;
                width   : 50%;
                overflow: hidden;
            }

            .course-info-container {
                background-color: rgba(0, 0, 0, 0.021);
                padding         : 20px;
                width           : 50%;
                display         : flex;
                flex-direction  : column;
                justify-content : space-between;
                align-items     : flex-start;

                .course-name {
                    text-transform: capitalize;
                    font-weight   : 500;
                    font-size     : 20px;
                }

                .course-desc {
                    line-height  : 1.8;
                    font-size    : 15px;
                    color        : $gray;
                    max-height   : 200px;
                    text-overflow: ellipsis;
                    word-wrap    : break-word;
                    overflow     : hidden;
                }

                .course-link {
                    text-transform: uppercase;
                    color         : rgb(41, 41, 41);
                    padding       : 8px 15px;
                    font-size     : 13px;
                    font-weight   : 600;
                    border        : 2px solid rgb(31, 31, 31);
                    transition    : 0.8s background-color, 0.8s color;

                    &:hover {
                        background-color: rgb(41, 41, 41);
                        color           : rgb(202, 199, 199);
                    }
                }
            }
        }
    }

    @media only screen and (max-width:900px) {
        width: 100%;

        .course-header {
            width: 80%;
        }

        .courses-container {
            grid-template-columns: 1fr;

            .course-card {
                max-height: 350px;
                .course-img-container {
                    height    : 100%;
                    align-self: center;
                }
            }
        }
    }

    @media only screen and (max-width:600px) {
        .courses-container {
            .course-card {
                flex-direction: column;
                max-height: none;

                .course-img-container {
                    width: 100%;
                    max-height: 400px;
                }

                .course-info-container {
                    width: 100%;
                }
            }
        }
    }
}





/******
************************
BLOG SECTION
************************
******/

.blog-sec {
    width        : 100%;
    margin-bottom: 50px;
}

.blog-container {
    width: 90%;

    .blog-header {
        width        : 50%;
        margin-bottom: 50px;

        .blog-title {
            font-size     : 27px;
            font-weight   : 500;
            margin-bottom : 20px;
            text-align    : center;
            text-transform: uppercase;
        }

        .blog-txt {
            font-size: 14px;
            color    : $gray;
        }
    }

    .blogs-container {
        width          : 100%;
        display        : flex;
        justify-content: space-between;

        .blog-card {
            width         : 32%;
            min-width     : 250px;
            display       : flex;
            flex-direction: column;
            // cursor: pointer;

            .blog-img-container {
                width        : 100%;
                height       : 250px;
                margin-bottom: 20px;
            }

            .blog-name {
                text-transform: capitalize;
                align-self    : center;
                font-size     : 23px;
                font-weight   : 500;
                margin-bottom : 25px;
            }

            .mini-container {
                width          : 100%;
                display        : flex;
                justify-content: space-between;
                align-items    : center;
                margin-bottom  : 25px;
                color          : $gray;
                font-size      : 20px;
                font-weight    : 300;
            }

            .blog-card-txt {
                line-height: 1.8;
                color      : $gray;
                font-size  : 15px;
            }
        }
    }

    @media only screen and (max-width:800px) {
        .blog-header {
            width: 80%;
        }

        .blogs-container {
            flex-wrap: wrap;

            .blog-card {
                margin       : 0 auto;
                margin-bottom: 30px;
            }
        }
    }
}






/******
************************
GALLERY SECTION
************************
******/

.gallery-sec {
    width: 100%;
}

.gallery-container {
    width: 100%;

    .gallery-header {
        width        : 174px;
        margin-bottom: 30px;

        .gallery-title {
            text-transform: uppercase;
            padding       : 8px 0;
            border        : 2px solid black;
            position      : relative;
            font-size     : 18px;
            letter-spacing: 3px;

            &::before,
            &::after {
                content   : '';
                position  : absolute;
                display   : block;
                box-sizing: border-box;
                width     : 100px;
                height    : 1px;
                border    : 1px solid $gray;
                top       : 50%;
            }

            &::before {
                left: -60%;
            }

            &::after {
                right: -60%;
            }
        }
    }
}

.gallery {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;

    .gallery-img-container {
        width    : calc(100%/4);
        min-width: 230px;
        height   : 230px;
        cursor   : pointer;
        overflow : hidden;

        &:hover {
            img {
                width : 110%;
                height: 110%;
            }
        }
    }
}

@media only screen and (max-width:800px) {
    .gallery {
        .gallery-img-container {
            margin: 0 auto;
        }
    }
}