<!--                            INTRO SECTION                             -->


<section class="intro-sec">
    <div class="carousel-container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 full-img" src="./../../assets/img/carousel1.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>The Great Aim of Education is not Knowledge, but Action</h2>
                        <p>Brought to you by <span class="author">ASMS Dev Team</span></p>
                        <a routerLink="/user-profile" class="intro-link">start learning now!</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 full-img" src="./../../assets/img/carousel2.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>The Roots of Education are Bitter, But the Fruit is Sweet</h2>
                        <p>Brought to you by <span class="author">ASMS Dev Team</span></p>
                        <a routerLink="/user-profile" class="intro-link">start learning now!</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 full-img" src="./../../assets/img/carousel3.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>We Help You to Learn New Things</h2>
                        <p>Brought to you by <span class="author">ASMS Dev Team</span></p>
                        <a routerLink="/user-profile" class="intro-link">start learning now!</a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>


<!--                            CATEGORY SECTION                             -->
<section class="category-sec no-overflow">
    <div class="category-container auto-margin">
        <div class="category-header align-center">
            <h2 class="category-title">course categories</h2>
            <p class="category-txt">Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus
                alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
        <div class="categories-container">
            <div class="category-card">
                <div class="img-container flex-center"><i class="fas fa-code-branch"></i></div>
                <h3 class="category-name">business</h3>
                <p class="category-desc">
                    Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
                    provident. Odit ab aliquam dolor eius.
                </p>
            </div>
            <div class="category-card">
                <div class="img-container flex-center"><i class="fas fa-code"></i></div>
                <h3 class="category-name">business</h3>
                <p class="category-desc">
                    Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
                    provident. Odit ab aliquam dolor eius.
                </p>
            </div>
            <div class="category-card">
                <div class="img-container flex-center"><i class="fab fa-codepen"></i></div>
                <h3 class="category-name">business</h3>
                <p class="category-desc">
                    Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
                    provident. Odit ab aliquam dolor eius.
                </p>
            </div>
            <div class="category-card">
                <div class="img-container flex-center"><i class="fas fa-laptop-code"></i></div>
                <h3 class="category-name">business</h3>
                <p class="category-desc">
                    Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
                    provident. Odit ab aliquam dolor eius.
                </p>
            </div>
            <div class="category-card">
                <div class="img-container flex-center"><i class="fab fa-free-code-camp"></i></div>
                <h3 class="category-name">business</h3>
                <p class="category-desc">
                    Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
                    provident. Odit ab aliquam dolor eius.
                </p>
            </div>
        </div>
    </div>
</section>



<!--                            INFO SECTION                             -->
<section class="info-sec flex-center">
    <div class="infos-container">
        <div class="info-card">
            <div class="card-logo-container"><i class="fas fa-wifi"></i></div>
            <h3 class="card-number">3279</h3>
            <h4 class="info-card-title">foreign followers</h4>
        </div>
        <div class="info-card">
            <div class="card-logo-container"><i class="fas fa-graduation-cap"></i></div>
            <h3 class="card-number">3279</h3>
            <h4 class="info-card-title">foreign followers</h4>
        </div>
        <div class="info-card">
            <div class="card-logo-container"><i class="fas fa-lightbulb"></i></div>
            <h3 class="card-number">3279</h3>
            <h4 class="info-card-title">foreign followers</h4>
        </div>
        <div class="info-card">
            <div class="card-logo-container"><i class="fas fa-user-friends"></i></div>
            <h3 class="card-number">3279</h3>
            <h4 class="info-card-title">foreign followers</h4>
        </div>
    </div>
</section>



<!--                            SCHOOL SECTION                             -->
<section class="course-sec">
    <div class="course-container auto-margin">
        <div class="course-header auto-margin">
            <h2 class="course-title">our schools</h2>
            <p class="course-txt">
                Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident.
                Odit ab aliquam dolor eius.
            </p>
        </div>
        <mat-spinner *ngIf="!schools"></mat-spinner>

        <div class="courses-container">
            <div class="course-card" *ngFor="let school of schools">
                <div class="course-img-container">
                    <img src={{school.pictureUrl}} alt="" class="full-img">
                </div>
                <div class="course-info-container">
                    <h3 class="course-name">{{school.name}}</h3>
                    <p class="course-desc">
                        {{school.description}}
                    </p>
                    <a [routerLink]="['/schools/details', school.id]" class="course-link">visit school</a>
                </div>
            </div>
        </div>
    </div>
</section>



<!--                            BLOG SECTION                             -->
<section class="blog-sec">
    <div class="blog-container auto-margin">
        <div class="blog-header auto-margin">
            <h2 class="blog-title">blog & events</h2>
            <p class="blog-txt">
                Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident.
                Odit ab aliquam dolor eius.
            </p>
        </div>
        <div class="blogs-container">
            <mat-spinner *ngIf="!blogs"></mat-spinner>
            <div class="blog-card" *ngFor="let blog of blogs">
                <div class="blog-img-container">
                    <img src={{blog.fields.image.fields.file.url}} alt={{blog.fields.title}} class="full-img">
                </div>
                <h3 class="blog-name">{{blog.fields.title}}</h3>
                <div class="mini-container">
                    <h5 class="blog-date">{{blog.fields.createdOn | date}}</h5>
                    <h6 class="comments">21 <i class="fas fa-comment-alt"></i></h6>
                </div>
                <p class="blog-card-txt">
                    {{blog.fields.description}}
                </p>
                <a [routerLink]="['/blogs/details', blog.sys.id]" class="blog-link">read more....</a>
            </div>
        </div>
    </div>
</section>

<!--                            GALLERY SECTION                             -->
<section class="gallery-sec">
    <div class="gallery-container">
        <div class="gallery-header auto-margin">
            <h2 class="gallery-title align-center">gallery</h2>
        </div>
        <div class="gallery">
            <div class="gallery-img-container">
                <img src="./../../assets/img/placeholder.jpg" alt="" class="full-img">
            </div>
            <div class="gallery-img-container">
                <img src="./../../assets/img/placeholder.jpg" alt="" class="full-img">
            </div>
            <div class="gallery-img-container">
                <img src="./../../assets/img/placeholder.jpg" alt="" class="full-img">
            </div>
            <div class="gallery-img-container">
                <img src="./../../assets/img/placeholder.jpg" alt="" class="full-img">
            </div>
            <div class="gallery-img-container">
                <img src="./../../assets/img/placeholder.jpg" alt="" class="full-img">
            </div>
            <div class="gallery-img-container">
                <img src="./../../assets/img/placeholder.jpg" alt="" class="full-img">
            </div>
            <div class="gallery-img-container">
                <img src="./../../assets/img/placeholder.jpg" alt="" class="full-img">
            </div>
            <div class="gallery-img-container">
                <img src="./../../assets/img/placeholder.jpg" alt="" class="full-img">
            </div>
        </div>
    </div>
</section>
