@import './../../assets/styles/varia2';

.about-sec {
    width: 100%;
}

.about-container {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .txt-container, .img-container {
        width: 49%;
    }

    .txt-container {
        .title {
            color: rgb(73, 73, 73);
            font-size: 14px;
            margin-bottom: 10px;
            font-weight: 300;
        }
        .heading {
            font-size: 30px;
            margin-bottom: 20px;
            text-transform: capitalize;
            font-weight: 800;
        }
        .txt {
            color: gray;
            font-size: 15px;
            margin-bottom: 18px;
        }
    }
    .img-container {
        height: auto;
    }

    @media only screen and (max-width:900px) {
        width: 99%;
        flex-direction: column;
        .txt-container, .img-container {
            width: 100%;
        }
        .txt-container {
            margin-bottom: 30px;
            .heading {
                font-size: 25px;
            }
            .txt {
                font-size: 13px;
            }
        }
        .img-container {
            max-height: 600px;
        }
    }
}