<main class="page">
    <section class="about-sec">
        <div class="about-container">
            <div class="txt-container">
                <h2 class="title">About ASMS</h2>
                <h3 class="heading">welcome to our education website</h3>
                <p class="txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ab sint corrupti, voluptatum delectus
                    quod odio sequi officiis, enim porro est cumque deleniti quibusdam aliquid quo, ipsa eaque quas
                    distinctio nostrum optio. Dolore natus delectus odio perferendis incidunt.
                </p>
                <p class="txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem molestias, itaque ut laudantium
                    molestiae pariatur quis at sint debitis nobis quibusdam ullam expedita quod vero, ipsam nemo? Quidem
                    et eos reiciendis beatae quos quae assumenda?
                </p>
                <p class="txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ipsa ratione. Sed illo
                    dignissimos asperiores sint cumque eveniet expedita est ullam, quo nihil ad eum doloremque itaque
                    rerum cum ex!
                </p>
            </div>
            <div class="img-container">
                <img src="./../../assets/img/blog1.jpg" alt="" class="full-img">
            </div>
        </div>
    </section>
</main>