.general_container{
  width:100%;
  padding: 0 5%;
}
.create_folder_and_file{
  display:flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  align-items: center;
  padding-left: 1rem;
  background: #55898b;
  h1{
    font-weight: 700;
    color: white;
  }
}

.folders{
  display:flex;
  justify-content: space-evenly;
  align-items:center;
  width: 100%;
  flex-wrap: wrap;
  mat-card{
    width: 200px;
    height: 200px;
    border-radius: 1.2rem;
    cursor: pointer;
    text-align: center;
    span.icon{
      font-size: 5.5rem;
      color: #55898b;
    }
  }
}