<mat-sidenav-container >
<mat-sidenav  #drawer class="sidenav"  
[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
[mode]="(isHandset$ | async) ? 'over' : 'side'"
[opened]="(isHandset$ | async) === false">
<mat-nav-list>
  

  <div class="send-message" style="float: left; background: white;color: black; box-shadow: 2px 2px 3px #eee;" >
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, soluta!
    </p>
  </div>

  <div class="send-message">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, id!</p>
  </div>
</mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
<mat-toolbar color="primary" style="display: flex;justify-content: space-between; align-items: center; padding: 0 1rem; overflow: hidden; box-sizing: border-box;" >
  <div class="toggle">
  <button
  type="button"
  aria-label="Toggle sidenav"
  mat-icon-button
  (click)="drawer.toggle()"
  *ngIf="!(isHandset$ | async)">
  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
</button>

  <button
  type="button"
  aria-label="Toggle sidenav"
  mat-icon-button
  (click)="drawer.toggle()"
  *ngIf="isHandset$ | async">
  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
</button>
</div>

<div class="calls">
<button mat-icon-button  [disabled]="isCallStarted$ | async" (click)="showModal(false)"><mat-icon>videocam</mat-icon></button>
<button mat-icon-button [disabled]="isCallStarted$ | async" (click)="showModal(true)"><mat-icon>add</mat-icon></button>
</div>
</mat-toolbar>



<div class="container-video">
  <!-- <div class="video-btn">
    <button mat-raised-button color="primary" class="m-2" [disabled]="isCallStarted$ | async" (click)="showModal(false)">Start Call</button>
      <button mat-raised-button class="m-2" [disabled]="isCallStarted$ | async" (click)="showModal(true)">Join Call</button>

      <button mat-raised-button color="warn" class="m-2" [disabled]="!(isCallStarted$ | async)" (click)="endCall()">End Call</button>
  </div> -->
  
  <div class="video-container">
    <video #local_video id="local-video" [autoplay]="true" [muted]="true"></video>
    <video #remote_video id="remote-video" [autoplay]="true" poster="../../../assets/user.png"></video>

    <button mat-icon-button class="end-call" [disabled]="!(isCallStarted$ | async)" (click)="endCall()">
    <span class="fas fa-plus"></span>
    </button>
  </div>
  </div>
  <mat-toolbar color="primary" style="width: 100%; display: flex; align-items: center; justify-content: space-evenly;height: calc(80vh - 467px);">
    <button mat-icon-button>
      <span class="fas fa-link"></span>
    </button>
    <mat-form-field style="height: 60px; font-size: .9rem; width: 70%;">
      <input type="text" matInput placeholder="type a message">
    </mat-form-field>
    <button mat-icon-button>
      <span class="fas fa-send"></span>
    </button>
  </mat-toolbar>

</mat-sidenav-content>
</mat-sidenav-container>
