.container-video{
  width: 100%;
  height: 100%;
  video{
    background: #838282;
    border-radius:4px;
  }
  .video-container{
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #343434;
    height: 71vh;
    padding: .5rem;
  }
  #remote-video{
    max-width: 80%;
    height: 100%;
    border-radius: 4px;
  }
  #local-video{
    z-index: 1;
    position: absolute;
    right: 1.5rem;
    bottom: 4.5rem;
    width: 15vw;
    height: 25vh;
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 4px;
    background: black;
    box-shadow: 0px -3px 5px #313131;
  }

}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 400px;
  background-color: white;
  color: black;
  // overflow-x: hidden;
}
.recieved-message{
  width: 90%;
  padding: .5rem;
  background: white;
  color: black;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #eee;
  margin: 1rem 0;
}
.send-message{
  width: 90%;
  padding: .5rem;
  background: #55898b;
  color: white;
  border-radius: 5px;
  float: right;
  margin: 1rem 0;
}
.sidenav .mat-toolbar {
  background: inherit;
}
.end-call{
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: red;
  color: white;
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
}