<main class="page">
    <section class="head-sec">
        <div class="head-container">
            <div class="head-header-container">
                <h2 class="title">{{lesson.title}}</h2>
                <div class="instructor-card">
                    <div class="image-container no-overflow">
                        <img src={{instructor.photoURL}} alt="" class="full-img">
                    </div>
                    <div class="info-container">
                        <h4 class="name">{{instructor.displayName}}</h4>
                        <h6 class="status">Author/Instructor</h6>
                    </div>
                </div>
            </div>
            <div class="head-body-container">
                <div class="lesson-banner-container no-overflow">
                    <img src="./../../../../../assets/img/lesson.jpg" alt="" class="full-img">
                </div>
                <div class="learnday-container">
                    <h3 class="title">what you will learn</h3>
                    <p class="txt">
                        {{lesson.whatLearn}}
                    </p>
                    <a href={{lesson.resourceLink}} target="_blank" class="resource-container resource-link">
                        <div class="image-container"></div>
                        <h3 class="resource-title">Resource</h3>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="body-sec">
        <mat-tab-group class="navlist">
            <mat-tab label="Description"> 
                <div class="desc-container">
                    <p class="txt desc-txt">
                        {{lesson.description}}
                    </p>
                </div>
            </mat-tab>
            <mat-tab label="Resources"> 
                <div class="files-container">
                    <div class="file-card" *ngFor="let file of lesson.filesUrls">
                        <div class="image-container">
                            <i class="fas fa-download"></i>
                        </div>
                        <a href={{file}} class="download-link" download target="_blank">download file</a>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Chat">
                <div class="chat-container">
                    <div class="left-side side">
                        <h2 class="title">chat with class members</h2>
                        <h4 class="heading">recent</h4>
                        <div class="users-container">
                            <div class="user-container" *ngFor="let student of students; let i = index" [class.current]="i == currentIndex" (click)="setCurrent(student, i)">
                                <div class="image-container no-overflow">
                                    <img src={{student.photoURL}} alt="" class="full-img">
                                </div>
                                <div class="info-container">
                                    <h3 class="username">{{student.displayName}}</h3>
                                </div>
                            </div>
                            <!-- <div class="user-container" *ngFor="let chatroom of chatRooms; let i = index" [class.current]="i == currentRoomIndex" (click)="setCurrentRoom(chatroom, i)">
                                <div class="image-container no-overflow">
                                    <img src="./../../../../../assets/img/Chatrooms.png" alt="" class="full-img">
                                </div>
                                <div class="info-container">
                                    <h3 class="username">{{chatroom.name}}</h3>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="right-side side">
                        <div class="top-sec">
                            <div class="user-container" *ngIf="currentChatter">
                                <div class="image-container no-overflow">
                                    <img src={{currentChatter.photoURL}} alt="" class="full-img">
                                </div>
                                <div class="info-container">
                                    <h3 class="username">{{currentChatter.displayName}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="messages-container" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                            <div class="message-container" *ngFor="let message of messages" [class.receiver]="message.sender == user.displayName">
                                <div class="image-container no-overflow">
                                    <img src={{user.photoURL}} alt="" class="full-img" *ngIf="message.sender == user.displayName">
                                    <ng-container *ngIf="currentChatter">
                                        <img src={{currentChatter.photoURL}} alt="" class="full-img" *ngIf="message.sender == currentChatter.displayName">
                                    </ng-container>
                                </div>
                                <div class="chat-info">
                                    <div class="message">
                                        <p class="message-txt">{{message.content}}</p>
                                        <p class="date">{{message.sentOn }}</p>
                                    </div>
                                    <h5 class="username">{{message.sender}}</h5>
                                </div>
                            </div>
                        </div>
                        <form class="message-form" (ngSubmit)="sendAMessage()" [formGroup]="chatForm" *ngIf="currentChatter">
                            <input type="text" name="message" id="" class="message-in" placeholder="Enter Message..." formControlName="content" required>
                            <button type="submit" class="submit-btn" [disabled]="chatForm.invalid"><i class="fas fa-share"></i></button>
                        </form>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

    </section>
</main>
<!-- <app-footer>
    trying to commit
</app-footer> -->