@import './../../../../../assets/styles/varia2';


.full-img {
    width : 100%;
    height: 100%;
}

.no-overflow {
    overflow: hidden;
}

.head-sec {
    margin-top   : 20px;
    padding-left : 150px;
    overflow     : hidden;
    margin-bottom: 30px;
    @media only screen and (max-width:900px) {
        padding-left: 0;
    }
}

.head-container {
    width    : 90%;
    // margin: 0 auto;

    .head-header-container {
        .title {
            font-size    : 35px;
            font-weight  : 700;
            margin-bottom: 10px;
        }

        .instructor-card {
            width        : 200px;
            height: 50px;
            display      : flex;
            align-items  : center;
            margin-bottom: 20px;

            .image-container {
                height       : 50px;
                width        : 50px;
                border-radius: 50%;
                margin-right : 10px;
            }

            .info-container {
                height: 100%;
                .name {
                    font-size: 20px;
                }

                .status {
                    font-weight: 100;
                    color      : grey;
                }
            }
        }
    }

    .head-body-container {
        width          : 100%;
        display        : flex;
        justify-content: space-between;

        .lesson-banner-container {
            width : 70%;
            height: 400px;
        }

        .learnday-container {
            width: 27%;

            .title {
                font-size    : 25px;
                margin-bottom: 10px;
            }

            .txt {
                color        : rgb(59, 59, 59);
                font-weight  : 300;
                margin-bottom: 20px;
            }

            .resource-container {
                width           : 100%;
                padding         : 5px;
                background-color: indigo;
                color           : white;
                border-radius   : 20px;
                text-align      : center;
            }
        }

        @media only screen and (max-width:900px) {
            flex-direction: column;
            align-items: center;
            .lesson-banner-container {
                width: 100%;
            }
            .learnday-container {
                width: auto;
                .resource-container {
                    width: 50%;
                }
            }
        }
    }

    @media only screen and (max-width:900px) {
        width: 100%;
    }
}

.body-sec {
    padding-left: 150px;

    @media only screen and (max-width:900px) {
        padding-left: 0;
    }

    mat-tab {
        width        : 63%;
        border-bottom: 1px solid rgb(101, 101, 170);
        margin-bottom: 15px;

        .navlist {
            .navlink {
                margin-right  : 20px;
                padding-bottom: 5px;
            }
        }
        @media only screen and (max-width:900px) {
            width: 95%;
            margin: 0 auto;
        }
    }

    .desc-container {
        width        : 63%;
        margin-bottom: 50px;

        .txt {
            text-align: justify;
        }

        @media only screen and (max-width:900px) {
            width: 95%;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    .files-container {
        margin-bottom: 50px;

        .file-card {
            padding         : 5px 0;
            width           : 200px;
            display         : flex;
            justify-content : center;
            background-color: rgb(194, 194, 194);
            border-radius   : 20px;
            margin-bottom: 20px;

            .image-container {
                margin-right: 10px;
            }
        }
    }

    .chat-container {
        width                : 80%;
        border               : 1px solid rgb(86, 86, 163);
        display              : flex;
        margin-bottom: 50px;
        margin-top: 20px;
        //    justify-content: space-between;

        .left-side {
            width: 30%;

            .title,
            .heading {
                margin-bottom : 10px;
                text-transform: capitalize;
                color         : rgb(44, 44, 44);
            }

            .users-container {
                display       : flex;
                flex-direction: column;
                margin-bottom : 5px;

                .user-container {
                    display            : flex;
                    align-items        : center;
                    background-color   : rgb(230, 216, 240);
                    padding            : 5px 0;
                    //    margin-bottom: 10px;
                    border-bottom      : 1px solid rgb(141, 18, 230);
                    cursor             : pointer;

                    .image-container {
                        width        : 50px;
                        height       : 50px;
                        border-radius: 50%;
                        margin-right : 15px;
                    }
                }
                .current {
                    background-color: rgb(58, 58, 187);
                }
            }
        }

        .right-side {
            width: 70%;
            border-left: 1px solid rgb(58, 58, 187);

            .top-sec {
                width        : 100%;
                border-bottom: 1px solid rgb(99, 99, 212);
                margin-bottom: 10px;

                .user-container {
                    display    : flex;
                    align-items: center;
                    padding    : 5px 0;

                    .image-container {
                        width        : 50px;
                        height       : 50px;
                        border-radius: 50%;
                        margin-right : 15px;
                    }
                }
            }
            .messages-container {
                padding-left: 5px;
                display: flex;
                flex-direction: column;
                max-height: 500px;
                overflow-y: scroll;
                position: relative;
                .message-container {
                    display: flex;
                    height: 200px;
                    margin-bottom: 20px;
                    .image-container{
                        width: 50px;
                        height: 50px;
                        align-self: center;
                        border-radius: 50%;
                    }
                    .chat-info {
                        .message {
                            color: white;
                            background-color: rgb(113, 113, 228);
                            height: 100px;
                            border-radius: 30px;
                            padding: 5px 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: flex-start;
                        }
                    }
                }
            }
            .receiver {
                align-self: flex-end;
            }

            .message-form {
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .message-in {
                    width: 80%;
                    height: 90%;
                    border-radius: 20px;
                    border: none;
                    background-color: rgb(137, 137, 199);
                    padding-left: 10px;
                    // color: white;
                    font-weight: 500;
                }
                .submit-btn {
                    background-color: rgb(74, 74, 180);
                    color: white;
                    border: none;
                    width: 50px;
                    padding: 10px 0;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }

        @media only screen and (max-width:900px) {
            width: 100%;
        }
        @media only screen and (max-width:700px) {
            flex-direction: column;
            .left-side, .right-side {
                width: 100%;
            }
            .left-side {
                margin-bottom: 20px;
            }
        }
    }
}