<form [formGroup]="courseForm" (ngSubmit)="createCourse()" class="course-form">
    <label for="name">name</label>
    <input type="text" name="name" id="" class="name-in in" placeholder="name in" formControlName="name" required>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        course must have a name
    </div>
    <label for="instructor">instructor email</label>
    <input type="email" name="instructor" id="" class="intructor-in in" placeholder="instructor email"
        formControlName="instructor" required>
    <div *ngIf="instructor.invalid && (instructor.dirty || instructor.touched)" class="alert alert-danger">
        invalid email
    </div>
    <label for="intro-video">intro video link</label>
    <input type="text" name="intro-video" id="" class="intro-in in" placeholder="intro video link"
        formControlName="introVideoUrl">
    <label for="details">course details</label>
    <textarea name="details" id="" cols="30" rows="10" class="details-in in" formControlName="details" required
        placeholder="course detail"></textarea>
    <div *ngIf="details.invalid && (details.dirty || details.touched)" class="alert alert-danger">
        course must have details
    </div>
    <label for="picture">upload course image</label>
    <mat-progress-bar mode="determinate" [value]="uploadPercent | async" *ngIf="uploadPercent"></mat-progress-bar>
    <input type="file" accept="image/*" (change)="uploadPicture($event)" name="picture" id="file">
    <input type="submit" value="create course" class="submit-btn" [disabled]="!courseForm.valid">
</form>

<!--  -->