<!-- <mat-grid-list cols="4" rowHeight="180px" >
  <mat-grid-tile *ngFor="let x of isFive | async" [colspan]="x.cols" [rowspan]="x.rows" style="background: blue;" >
    welcome
  </mat-grid-tile>
</mat-grid-list> -->

<div class="container">
  <div class="content-upper" *ngFor="let i of rightSection">
    <div *ngFor="let x of i.upperSection" [style.background]="x.bg">
      <h1 class="mat-h1" [style.color]="x.color">{{ x.heading }}</h1>
      <span [style.color]="x.color">{{ x.sub | titlecase }}</span>
    </div>
    <!-- <div>
      <h1 class="mat-h1">234</h1>
    </div> -->
  </div>
  <div class="content-lower" *ngFor="let j of rightSection">
    <div *ngFor="let y of j.lowerSection" [style.background]="y.bg">
      <h1 [style.color]="y.color">{{ y.heading }}</h1>
      <span [style.color]="y.color"> {{ y.sub | titlecase }}</span>
    </div>
  </div>
</div>
