.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  .content-lower, .content-upper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 35%;
    // margin-top: 1rem;
    div{
      width: 48%;
      background: rgba(60, 255, 0, 0.123);
      border-radius: 1.5rem;
      // height: 100%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
     
    }
  }
  .content-lower{
    div{
      background-color: rgba(137, 137, 235, 0.109);
      width: 23%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 90%;
      border-radius: 1.5rem;
      flex-direction: column;
      h1{
        font-weight: 700;
        font-size: 2rem;       
       }
    }
  }
}
h1{
 font-weight: 700;
 font-size: 3rem;       
}

@media (max-width: 767px){
  .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .content-lower, .content-upper{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      height: 50%;
      // margin-top: 1rem;
      div{
        width: 48%;
        background: rgba(60, 255, 0, 0.123);
        border-radius: 1.5rem;
        // height: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
       
      }
    }
    .content-lower{
      div{
        width: 23%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 90%;
        border-radius: 1.5rem;
        flex-direction: column;
        h1{
          font-weight: 500;
          font-size: 1.2rem;       
         }
      }
    }
  }
  h1{
   font-weight: 500;
   font-size: 1.5rem;       
  }
   
}