* {
	margin    : 0;
	padding   : 0;
	box-sizing: border-box;
}

.nav-bar {
	height          : 80px;
	background-color: rgba(204, 234, 253, 0.055);
	border-bottom   : 1px solid blue;
	width           : 100%;
	line-height     : 4;
	display         : inline-block;

	ul {
		li {
			padding-left: 20px;
			list-style  : none;
			display     : inline-block;

			.academy {
				color: black;
			}

			a {
				text-decoration: none;
				color          : gray;
			}
		}

		.auth {
			float: right;

			.register {
				color  : rgb(0, 183, 255);
				border : 1px solid rgb(56, 178, 235);
				width  : 60px;
				padding: 10px;
			}

		}

		.auth :hover {
			background-color: rgb(95, 145, 240);
			color           : white;
		}
	}
}

.container1 {
	box-shadow: 0px 3px 8px 4px rgba(0, 0, 0, 0.26);
	width     : 95%;
	margin    : 0 auto;
}

.container {
	background-color: rgba(255, 255, 255, 0.068);
	display         : flex;
	width           : 80%;
	margin          : 50px auto;

	.content1 {
		width      : 70%;
		margin-top : 17%;
		margin-left: -8%;


		p {
			margin-top: 5%;
			width     : 80%;
		}

		h2 {
			width: 90%;
		}
	}

	.content2 {
		position   : relative;
		width      : 40%;
		margin-left: -3%;

		.circle {
			background-color: rgba(143, 242, 255, 0.11);
			width           : 25rem;
			height          : 400px;
			z-index         : 1;
			position        : relative;
			margin-right    : -100px;
			border-radius   : 50%;
			top             : 20%;
			left            : 18%;

			img {
				position     : absolute;
				border-radius: 50%;
				top          : 0;
				left         : 0;
				width        : 25rem;
				height       : 400px;

			}
		}



		i {
			position     : absolute;
			font-size    : 50px;
			border-radius: 50%;
			z-index      : 1000;
			cursor       : pointer;

			h5 {
				font-size: 15px;
				display  : block;
				color    : rgb(97, 97, 100);
			}
		}

		.language {
			left               : 40%;
			top                : -28px;
			font-size          : 50px;
			border-radius      : 50%;
			color              : rgb(255, 138, 138);
			// background-color: white;
		}

		.science {
			left               : -5%;
			top                : 25%;
			font-size          : 53px;
			border-radius      : 50%;
			color              : rgb(36, 83, 235);
			// background-color: rgb(255, 255, 255);
		}

		.web {
			left               : 5%;
			top                : 72%;
			font-size          : 50px;
			border-radius      : 50%;
			color              : rgb(200, 255, 138);
			// background-color: white;
		}

		.medicine {
			left               : 86%;
			// background-color: white;
			top                : 25%;
			font-size          : 50px;
			border-radius      : 50%;
			color              : rgb(138, 237, 255);
		}

		.electronics {
			left               : 85%;
			top                : 70%;
			font-size          : 50px;
			border-radius      : 50%;
			color              : rgb(252, 161, 58);
			// background-color: white;
		}
	}
}

@media (max-width: 1024px) {
	.container {
		display        : flex;
		flex-direction : column;
		width          : 95%;
		margin         : 0 auto;
		margin-top     : 10%;
		align-items    : center;
		justify-content: center;

		.content1 {
			width: 100%;

			p {
				margin: 0 auto;
				width : 80%;
			}

			h2 {
				margin   : 0 auto;
				font-size: 15px;
			}
		}

		.content2 {
			width     : 90%;
			margin-top: 20%;

			.circle {
				background-color: rgba(144, 242, 255, 0);
				width           : 300px;
				height          : 300px;
				z-index         : 1;
				position        : relative;
				border-radius   : 50%;
				top             : 20%;
				left            : 20%;

				img {
					position     : relative;
					border-radius: 50%;
					top          : 0;
					left         : 0;
					width        : 300px;
					height       : 300px;

				}
			}
		}
	}
}

.sect1 {
	width          : 80%;
	margin         : 10% auto;
	display        : flex;
	justify-content: space-between;

	.intro {
		width: 60%;

		p {
			margin-top: 3%;
		}

		h4 {
			margin-top   : 5%;
			margin-bottom: 20px;
		}
	}

	select {
		width             : 25%;
		height            : 20px;
		border            : solid 3px rgb(230, 230, 230);
		outline           : none;
		color             : black;
		-webkit-appearance: button;

		option {
			color           : rgb(65, 235, 235);
			background-color: rgb(255, 255, 255);
			border-bottom   : 5px solid black;
			padding-top     : 50px;
		}
	}

	select:hover {
		border-left: 5px solid rgb(109, 222, 241);

		option:hover {
			border-left: 5px solid rgb(109, 222, 241);
		}
	}
}

@media (max-width: 1024px) {
	.sect1 {
		display       : flex;
		flex-direction: column-reverse;
		width         : 100%;

		select {
			width : 60%;
			margin: 0 auto 20% auto;

			option {
				width: 90%;
			}
		}

		.intro {
			width : 90%;
			margin: 0 auto;
		}
	}
}

// .about {
// 	width : 80%;
// 	margin: 0 auto 5%;

// 	h2 {
// 		text-align: center;@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300');

/* ------------- */
/* GLOBAL STYLES */
/* ------------- */

// * {
//   box-sizing: border-box;
// }

body {
	font-family: 'Yantramanav', sans-serif;
}

.content4 {
	height               : 80vh;
	background-image     : url(../../assets/img/seven.jpg);
	background-repeat    : no-repeat;
	background-size      : cover;
	background-attachment: fixed;
	width                : 95.2%;
	margin               : 2% auto;
	position             : relative;

	.content3 {
		width              : 100%;
		height             : 80vh;
		// position: absolute;
		// z-index: 1;
		background-color   : #0b0d158f;
		// background-color: rgba(255, 166, 0, 0.308);
		content            : 'contact us';
		color              : white;

		h1 {
			position  : absolute;
			margin-top: 15%;
			left      : 8%;
		}

		p {
			position  : absolute;
			margin-top: 20%;
			left      : 8%;
			font-size: 20px;

			span {
				display: block;
			}

		}
	}
}

.container2 {
	width   : 90.2%px;
	margin-left : auto;
	margin-right: auto;
	margin-top  : -2%;
	padding     : 1em;
	//   z-index: 2;
	background  : #f5f3f1;
	color       : #0b0d15;
	line-height : 1.6;
	font-family : 'Yantramanav', sans-serif;
	padding     : 1em;
}

ul {
	list-style: none;
	padding   : 0;
}

.brand {
	text-align    : center;
	//   color: #2b7375;
	width         : 30%;
	font-weight   : 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

@media (max-width: 800px) {
	.brand {
		width: 100%;
	}

	.contact {
		margin-top   : 5%;
		border-radius: none;
	}

	.company-info {
		height: 48vh;
	}

	.content4 {
		width                : 100%;
		background-image     : url(../../assets/img/seven.jpg);
		background-repeat    : no-repeat;
		background-size      : contain;
		background-attachment: fixed;
		height               : 40vh;

		.content3 {
			height: 40vh;
		}
	}
}

.brand span {
	color: #0b0d15;
	width: 5px;
}

.wrapper {
	box-shadow: 0 0 20px 0 #485e74;
}

.wrapper>* {
	padding: 1em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.company-info {
	color                  : #ffff;

	background: #2b7375;
	box-shadow             : 0, 0, 0, 0;
	border-top-left-radius : 4px;
	border-top-right-radius: 4px;
}

.company-info h3,
.company-info ul {
	text-align: center;
	margin    : 0 0 1rem 0;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {
	margin-top        : -25%;
	z-index           : 5;
	background        : #dcdfea;
	//   border-radius: 30px;

}

/* ---- */
/* FORM */
/* ---- */

.contact form {
	display              : grid;
	grid-template-columns: 1fr 1fr;
	grid-gap             : 20px;

	z-index: 4;
}

.contact form label {
	display: block;
}

.contact form p {
	margin: 0;
}

.contact form .full {
	grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
	width        : 100%;
	padding      : 1em;
	border       : solid 1px #2b7375;
	border-radius: 4px;
	outline      : none;
}

.contact form textarea {
	resize : none;
	outline: none;
}

.contact form button {
	background    : #2b7375;
	border        : 0;
	color         : #ffffff;
	text-transform: uppercase;
	font-size     : 14px;
	font-weight   : bold;
}

.contact form button:hover,
.contact form button:focus {
	background: #000000;
	color     : #ffffff;
	outline   : 0;
	transition: background-color 2s ease-out;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media only screen and (min-width: 700px) {
	.wrapper {
		display              : grid;
		grid-template-columns: 1fr 2fr;
	}

	.wrapper>* {
		padding: 2em;
	}

	.company-info {
		border-radius: 4px 0 0 4px;
	}

	.contact {
		border-radius          : 0 4px 4px 0;
		border-top-left-radius : 10px;
		// width: 40vw;
		border-top-right-radius: 10px;
	}

	.company-info h3,
	.company-info ul,
	.brand {
		text-align: left;
	}
}

// 	}
// }