

	<div class="content4">
		<div class="content3">
			<h1>Contactg Us</h1>
			<p>Looking for a relaible place to study online!<span> then you are in the right place</span>
			</p>
		</div>
	</div>
	<div class="container2">

		<h1 class="brand"><span>seven avengers Design</span></h1>

		<div class="wrapper">

			<!-- COMPANY INFORMATION -->
			<div class="company-info">
				<h3>seven avengers Web Design</h3>

				<ul>
					<li><i class="fa fa-road"></i> Douala bali</li>
					<li><i class="fa fa-phone"></i> (555) 555-5555</li>
					<li><i class="fa fa-envelope"></i>sevenadvancedacademy@gmail.com</li>
				</ul>
			</div>
			<!-- End .company-info -->

			<!-- CONTACT FORM -->
			<div class="contact">
				<h3>E-mail Us</h3>

				<form id="contact-form">

					<p>
						<label>Name</label>
						<input type="text" name="name" id="name" required>
					</p>

					<p>
						<label>street</label>
						<input type="text" name="company" id="company">
					</p>

					<p>
						<label>E-mail Address</label>
						<input type="email" name="email" id="email" required>
					</p>

					<p>
						<label>Phone Number</label>
						<input type="text" name="phone" id="phone">
					</p>

					<p class="full">
						<label>Message</label>
						<textarea name="message" rows="5" id="message"></textarea>
					</p>

					<p class="full">
						<button type="submit">Submit</button>
					</p>

				</form>
				<!-- End #contact-form -->
			</div>
			<!-- End .contact -->

		</div>
		<!-- End .wrapper -->
	</div>
	<!-- End .container -->