// @import './../../../../assets/styles/varia2';
$blackborder:1px solid black;
$orangeFont : rgb(218, 133, 61);
$grayishFont:rgb(70, 70, 70);


ul {
    list-style: none;
}

button {
    cursor: pointer;
    background-color: none;
}

section {
    width        : 100%;
    margin-bottom: 50px;
}

.full-img {
    width : 100%;
    height: 100%;
}

.flex-center {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

body {
    counter-reset: section;
}

.head-sec {
    width           : 100%;
    height          : 130px;
    background-color: rgb(218, 133, 61);
}

.style-btn {
    padding: 5px 5px;
    background-color: $orangeFont;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    outline: none;
}

.head-container {
    width          : 90%;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    margin         : 0 auto;
    color          : white;
    text-transform : uppercase;

    .head-title {
        font-size: 35px;
    }

    .head-heading {
        font-weight: 300;
        font-size  : 17px;
    }
}

.page {
    width          : 100%;
    overflow       : hidden;
    display        : flex;
    justify-content: center;

    @media only screen and (max-width:800px) {
        flex-direction: column;
    }
}

.left-page {
    width: 75%;

    @media only screen and (max-width:800px) {
        width: 100%;
    }
}

.right-page {
    width: 22%;

    .student-btn {
        margin-top: 15px;
    }

    @media only screen and (max-width:800px) {
        width: 100%;
    }
}

.page-top-container {
    width          : 95%;
    // margin: 0 auto;
    height         : 160px;
    display        : flex;
    justify-content: space-between;

    .course-img-container {
        width    : 30%;
        min-width: 200px;
        height   : 100%;
    }

    .course-main-details {
        width           : 69%;
        padding-left    : 20px;
        display         : flex;
        flex-direction  : column;
        justify-content : space-evenly;
        background-color: rgb(245, 233, 212);

        .course-name {
            text-transform: capitalize;
            font-weight   : 500;
        }

        .course-details-list {
            display: flex;

            li {
                margin-right: 10px;
                color       : $grayishFont;
            }
        }

        .course-status-container {
            .course-status {
                width           : 70px;
                height          : 30px;
                border-radius   : 10px;
                color           : white;
                background-color: $orangeFont;
                font-size       : 16px;
                margin-bottom   : 10px;
            }
        }
    }

    @media only screen and (max-width:600px) {
        flex-direction: column;
        margin        : 0 auto;
        margin-bottom : 100px;

        .course-img-container {
            width: 100%;
        }

        .course-main-details {
            width      : 100%;
            padding-top: 20px;
        }
    }
}

.course-txt-container {
    width: 95%;

    .course-txt {
        line-height: 1.8;
        text-align : justify;
        color      : $grayishFont;
    }

    @media only screen and (max-width:600px) {
        margin: 0 auto;
    }
}

.intro-vid-container {
    width: 95%;

    .video-frame {
        width : 100%;
        height: 400px;
    }

    @media only screen and (max-width:600px) {
        margin: 0 auto;
    }
}

.lessons-container {
    width           : 95%;
    padding         : 2px;
    padding-top     : 20px;
    background-color: rgb(245, 233, 212);

    .title {
        text-transform: capitalize;
        font-size     : 25px;
        margin-left   : 20px;
        font-weight   : 300;
    }

    .lessons-list-container {
        width           : 100%;
        padding-top     : 20px;
        margin-top      : 20px;
        background-color: white;

        .lesson-container {
            width         : 80%;
            margin-left   : 20px;
            display       : flex;
            flex-direction: column;

            .lesson-name {
                font-size    : 23px;
                font-weight  : 300;
                margin-bottom: 10px;
            }

            .lesson-details {
                display      : flex;
                margin-bottom: 20px;

                .detail {
                    margin-right: 20px;
                    color       : $grayishFont;
                    font-size   : 15px;
                }
            }

            .lesson-txt {
                line-height  : 1.5;
                margin-bottom: 15px;
            }

            .lesson-link {
                width           : 150px;
                text-align      : center;
                border-radius   : 5px;
                padding         : 5px 0;
                background-color: $orangeFont;
                color           : white;
                margin-bottom   : 60px;
            }

            &::before {
                counter-increment: section;
                content          : counter(section);
                display          : flex;
                justify-content  : center;
                align-items      : center;
                width            : 40px;
                height           : 40px;
                border           : 2px solid black;
                border-radius    : 50%;
            }
        }

        .lesson-form {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            padding: 20px;
            border: 2px solid gray;
            .in {
                margin-bottom: 15px;
            }

            label {
                font-size: 17px;
                font-weight: 400;
            }

            .submit-btn {
                width: 150px;
                background-color: crimson;
                margin-bottom: 20px;
                align-self: flex-start;
                color: white;
                border: none;
                cursor: pointer;
                padding: 5px 0;
            }
        }

        .lesson-btn {
            margin-left: 15px;
            margin-bottom: 15px;
            margin-top: 15px;
            font-weight: 200;
        }


    }

    @media only screen and (max-width:600px) {
        margin: 0 auto;
    }
}

.comments-container {
    width: 95%;

    .title {
        font-size    : 25px;
        margin-bottom: 15px;
    }

    .comment-container {
        margin-bottom: 20px;

        .commenter {
            margin-bottom: 10px;
        }

        .comment {
            margin-bottom: 10px;
        }

        .date {
            color: $grayishFont;
        }
    }

    @media only screen and (max-width:600px) {
        margin: 0 auto;
    }
}

.comment-form-container {
    width: 95%;

    .form-title {
        margin-bottom: 15px;
        font-size    : 25px;
    }

    .comment-form {
        width         : 100%;
        display       : flex;
        flex-direction: column;

        .comment-in {
            width        : 100%;
            height       : 200px;
            margin-bottom: 15px;
        }

        .submit-btn {
            width           : 150px;
            padding         : 8px 0;
            background-color: rgb(90, 129, 18);
            border          : none;
            border-radius   : 5px;
            text-transform  : uppercase;
            color           : white;
            font-weight     : 500;
        }
    }

    @media only screen and (max-width:600px) {
        margin: 0 auto;
    }
}

.instructors-container {
    width: 95%;

    .title {
        font-size     : 25px;
        margin-bottom : 30px;
        text-transform: capitalize;
    }

    .instructors-cards {
        width          : 100%;
        display        : flex;
        justify-content: space-between;

        .instructor-card {
            width           : 30%;
            min-width       : 200px;
            padding         : 10px;
            background-color: rgb(241, 233, 217);
            display         : flex;
            flex-direction  : column;
            justify-content : space-between;
            align-items     : center;

            .instructor-pic-container {
                width        : 100%;
                height       : auto;
                margin-bottom: 15px;
            }

            .instructor-name {
                margin-bottom: 15px;
            }

            .seperator {
                width           : 50%;
                height          : 2px;
                background-color: rgb(21, 78, 21);
            }
        }
    }

    @media only screen and (max-width:600px) {
        margin: 0 auto;
    }
}

.enrolled-container {
    width           : 99%;
    padding         : 5px;
    background-color: rgb(253, 246, 234);

    .enrolled-card {
        width           : 100%;
        padding         : 15px;
        background-color: white;

        .title {
            font-size     : 21px;
            margin-bottom : 10px;
            text-transform: uppercase;
        }

        .seperator {
            width           : 50%;
            height          : 2px;
            background-color: rgb(26, 100, 26);
            margin-bottom   : 10px;
        }

        .students-container {
            width: 100%;
            display: flex;
            flex-direction: column;

            .single-student {
                display           : flex;
                // justify-content: space-around;
                align-items       : center;
                margin-bottom: 20px;

                .student-img-container {
                    width        : 50px;
                    height       : 50%;
                    overflow     : hidden;
                    border-radius: 50%;
                    margin-right : 10px;
                }
            }
        }
    }
}