<main class="full-page">
    <section class="head-sec">
        <div class="head-container">
            <h2 class="head-title">{{course.name}}</h2>
            <h3 class="head-heading">courses / {{course.name}}</h3>
        </div>
    </section>

    <div class="page">
        <div class="left-page">
            <section class="page-top-sec">
                <div class="page-top-container">
                    <div class="course-img-container">
                        <img src="./../../../../assets/img/course.jpg" alt="" class="full-img">
                    </div>
                    <div class="course-main-details">
                        <h4 class="course-name">{{course.name}}</h4>
                        <ul class="course-details-list">
                            <li><i class="fas fa-school"></i> Education</li>
                            <li><i class="fas fa-book"></i> {{lessonsNumber}} Lessons</li>
                            <li><i class="fas fa-clock"></i> 3 hours 30 mins</li>
                        </ul>
                        <div class="course-status-container">
                            <div class="course-status flex-center">
                                <h6>private</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section class="course-txt-sec">
                <div class="course-txt-container">
                    <p class="course-txt">
                        {{course.details}}
                    </p>
                </div>
            </section>



            <section class="intro-vid-sec">
                <div class="intro-vid-container">
                    <iframe src={{course.introVideoUrl}} frameborder="0" class="video-frame"></iframe>
                </div>
            </section>



            <section class="lessons-sec">
                <div class="lessons-container">
                    <h3 class="title">lessons</h3>
                    <div class="lessons-list-container">
                        <mat-spinner *ngIf="!lessons"></mat-spinner>
                        <ng-container *ngIf="lessons">
                            <div class="lesson-container" *ngFor="let lesson of lessons">
                                <h4 class="lesson-name">{{lesson.title}}</h4>
                                <div class="lesson-details">
                                    <h5 class="difficulty detail"><i class="fas fa-tags"></i> easy</h5>
                                    <h5 class="time detail"><i class="fas fa-clock"></i> 45 mins</h5>
                                    <h5 class="instructor detail"><i class="fas fa-user-tie"></i> {{lesson.createdBy}}
                                    </h5>
                                </div>
                                <p class="lesson-txt">
                                    {{lesson.description}}
                                </p>
                                <a [routerLink]="['lesson', lesson.id]" class="lesson-link">see lesson</a>
                            </div>
                        </ng-container>
                        <form class="lesson-form" [formGroup]="lessonForm" (ngSubmit)="createLesson()"
                            *ngIf="showLessonForm">
                            <label for="title">lesson title</label>
                            <input type="text" name="title" id="" class="name-in in" formControlName="title" required>
                            <label for="description">lesson description</label>
                            <textarea name="description" id="" cols="30" rows="10" class="description-in in"
                                formControlName="description" required></textarea>
                                <label for="whatLearn">lesson description</label>
                            <textarea name="whatLearn" id="" cols="30" rows="10" class="whatLearn-in in"
                                formControlName="whatLearn" placeholder="what will be learned todat?"></textarea>
                            <label for="files">lesson files</label>
                            <input type="file" (change)="uploadPictures($event)" name="files" class="in" id="" multiple>
                            <label for="resource">Important link</label>
                            <input type="text" name="resource" id="" class="resource-in in"
                                formControlName="resourceLink">
                            <input type="submit" value="create lesson" class="submit-btn"
                                [disabled]="!lessonForm.valid">
                        </form>

                        <button class="lesson-btn style-btn" (click)="showLessonForm = !showLessonForm">add lesson
                            +</button>
                    </div>
                </div>
            </section>



            <section class="comments-sec">
                <div class="comments-container">
                    <h3 class="title">comments</h3>
                    <mat-spinner *ngIf="!comments"></mat-spinner>
                    <ng-container *ngIf="instructor">
                        <div class="comment-container" *ngFor="let comment of comments">
                            <h5 class="commenter">by {{comment.commenter}}</h5>
                            <p class="comment">
                                {{comment.comment}}
                            </p>
                            <h6 class="date">on {{ comment.date | dater }}</h6>
                        </div>
                    </ng-container>
                </div>
                <div class="comment-form-container">
                    <h3 class="form-title">Give a comment</h3>
                    <form class="comment-form">
                        <textarea name="comment" id="comment" class="comment-in" [(ngModel)]="commentText"></textarea>
                        <button class="submit-btn" (click)="addComment()">comment</button>
                    </form>
                </div>
            </section>



            <section class="instructors-sec">
                <div class="instructors-container">
                    <h3 class="title">course instructor</h3>
                    <div class="instructors-cards">
                        <mat-spinner *ngIf="!instructor"></mat-spinner>
                        <div class="instructor-card" *ngIf="instructor">
                            <div class="instructor-pic-container">
                                <img src={{instructor.photoURL}} alt={{instructor.displayName}} class="full-img">
                            </div>
                            <h4 class="instructor-name">{{instructor.displayName}}</h4>
                            <div class="seperator"></div>
                            <div class="instructor-socials">

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>



        <div class="right-page">
            <div class="enrolled-container">
                <div class="enrolled-card">
                    <h3 class="title">
                        students enrolled
                    </h3>
                    <div class="seperator"></div>
                    <div class="students-container">
                        <mat-spinner *ngIf="students.length == 0"></mat-spinner>
                        <div class="single-student" *ngFor="let student of students">
                            <div class="student-img-container">
                                <img src={{student.photoURL}} alt="" class="full-img">
                            </div>
                            <h4 class="student-name">{{student.displayName}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
<!-- <app-footer></app-footer> -->