.container{
  width: 100%;
  height: 100%;

  .header{
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    button{
      margin: 0 .3rem;
    }
  }
.main{
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
  .content{
    // width: 33%;
    // padding: 0 20px;
    // display: flex;
    // align-items: center;
    // justify-content: space-evenly;
    // flex-wrap: wrap;
    margin: 1rem 0;
    width: 280px;
    text-align: center;
    height: 310px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    // flex-direction: column;
    mat-card{
      margin: 1rem 0;
      width: 270px;
      height: 300px;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      button{
        width: 150px;
        height: 50px;
        transform: translateY(70%);
        border-radius: 0;
        border-left: 2px solid #fff;

      }
    }
  }
}
.mat-card-avatar{
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat; 
  height: 130px; 
  width: 130px; 
  border-radius: 50%;
}
.container{
  .m{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    text-align: left;
    .toggle{
      margin: 0;
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      .avatar{
        height: 50px;
        width: 50px;
      }
      p{
        position: absolute;
        left: 80px;
        bottom: 0;
        // transform: translate(-250%, 15%);
      }
      button{
        width: 100px;
        height: 40px;
        transform: translateY(-0%);
      }
    }
  }
}