.algin-items-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.general-container{
  width: 100%;
  height: 100%;
  header{
    padding: 0 5%;
  }
}
.body{
  width: 100%;
 
  .tasks{
    padding: 0 5%;
    cursor: pointer;
    transition: all ease .4s;
    height: 70px;
    border-top: 1px solid #55898b;
    color: teal;
    &:hover{
      background: #ddd;
    }
  }
  .left-section{
    width: 200px;
    height: 90%;
    p{
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .right-section{
    width: 50px;
    height: 90%;
  }
}
.add-task-button-container{
  width: 40px;
  height: 40px;
  border-radius: 1.2rem;
  background-color: #55898b;
  color: #fff;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: all ease .4s;
  &:hover{
   width: 120px;
  }
}
.overlay-container{
  z-index: 1;
  background: #fff;
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  width: 380px;
  visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  height: 60vh;
  padding: 2%;
  animation: shrink .2s linear 0s;
  form{
    width: 100%;
      mat-form-field{
        width: 100%;
      }
      
       textarea{
         width: 100%;
         height: 120px;
         resize: none;
         border-radius: 5px;
         padding: 1rem;
       }
  }
}
.overlay-container.grow{
  animation: grow .2s linear 0s;
  visibility: visible;
}
@keyframes grow{
  from{transform: scale(0); opacity: 0;}
  to{transform: scale(1); opacity: 1;}
}
@keyframes shrink{
  from{transform: scale(1); opacity: 1;}
  to{transform: scale(0); opacity: 0;}
}