<div class="general-container">
  <header class="algin-items-center">
    <h1 style="font-weight: 700;">Tasks</h1>
  </header>
  <div class="body">
    <div class="tasks algin-items-center">
      <p class="task-title">
        <span style="font-size: 1.3rem;">
          <span class="fas fa-check-circle"></span>
        </span>&nbsp;&nbsp;
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>

      <p class="date">  <span style="font-size: 1rem;">
        <span class="fas fa-arrow-up"></span>
      </span>&nbsp;&nbsp; 12:20</p>
    
    </div>

    <div class="tasks algin-items-center">
      <p class="task-title">
        <span style="font-size: 1.3rem;">
          <span class="fas fa-check-circle"></span>
        </span>&nbsp;&nbsp;
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>

      <p class="date">  <span style="font-size: 1rem;">
        <span class="fas fa-arrow-up"></span>
      </span>&nbsp;&nbsp; 12:20</p>
    
    </div>

  </div>
</div>
<div class="overlay-container" [ngClass]="{'grow': isVissible}">
  <form action="">
    <mat-form-field>
      <mat-label>Task Title</mat-label>
    <input type="text" matInput>
    </mat-form-field>

    <textarea></textarea>
    <mat-checkbox class="example-margin"  >
    Mark As Completed
  </mat-checkbox><br>
  <button mat-raised-button color="primary">Finish</button>
  </form>
</div>
<div class="add-task-button-container" (click)="isVissible = !isVissible">
  <button mat-mini-fab color="primary" style="box-shadow: none;"><span class="fas fa-plus"></span></button> <span>Add Task</span>
</div>
