mat-card{
  border-radius: 1.3rem;
}
.full-width {
  width: 100%;
}
button{
  transform: translateX(350px);
  border-radius: 1.5rem;
  width:140px;
}
.shipping-card {
  max-width: 100%;
  width: 800px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

textarea{
  height:200px;
  resize: none !important;
}