<div class="general-container">
  <div class="create_folder_and_file">
    <h1>Attendance</h1> 
  </div>
    <br>
    <h2 style="Font-weight:600; padding-left: 1rem; border-bottom:1px solid #55898b">Folders <button mat-raised-button color="primary" style="float:right; border-radius: 1.5rem; box-shadow:none; padding:0 1rem; margin:0 1rem;"> <span class="fas fa-plus"></span>  Add Folder</button></h2>
  <div class="folders">
    <mat-card>
      <span style="font: size 1.2rem; font: weight 700;">Folder Name</span>
      <br>
      <span>subtitle</span>
      <br><br>
      <span class="icon"><span class="fas fa-folder"></span></span>
    </mat-card>

    <mat-card>
      <span style="font: size 1.2rem; font: weight 700;">Folder Name</span>
      <br>
      <span>subtitle</span>
      <br><br>
      <span class="icon"><span class="fas fa-folder"></span></span>
    </mat-card>

    <mat-card>
      <span style="font: size 1.2rem; font: weight 700;">Folder Name</span>
      <br>
      <span>subtitle</span>
      <br><br>
      <span class="icon"><span class="fas fa-folder"></span></span>
    </mat-card>

    <!-- <mat-card></mat-card> -->
    <!-- <mat-card></mat-card> -->
  </div>
  
  <br><br>

  <h2 style="Font-weight:600; padding-left: 1rem; border-bottom:1px solid #55898b">Files <button mat-raised-button color="primary" style="float:right; border-radius: 1.5rem; box-shadow:none; padding:0 1rem; margin:0 1rem;"> <span class="fas fa-plus"></span>  Add File</button></h2>
  <div class="folders">
    <mat-card>
      <span style="font: size 1.2rem; font: weight 700;">File Name</span>
      <br>
      <span>subtitle</span>
      <br><br>
      <span class="icon"><span class="fas fa-file"></span></span>
    </mat-card>

    <mat-card>
      <span style="font: size 1.2rem; font: weight 700;">File Name</span>
      <br>
      <span>subtitle</span>
      <br><br>
      <span class="icon"><span class="fas fa-file"></span></span>
    </mat-card>

    <mat-card>
      <span style="font: size 1.2rem; font: weight 700;">File Name</span>
      <br>
      <span>subtitle</span>
      <br><br>
      <span class="icon"><span class="fas fa-file"></span></span>
    </mat-card>

    <!-- <mat-card></mat-card> -->
    <!-- <mat-card></mat-card> -->
  </div>
</div>

