.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 1.5rem;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  flex-direction: column;
 overflow: hidden;
  
}
.btn{
  margin-top: .5rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: flex-end;
  width: 115%;
  height: 200px !important;
//  border-top: 1.7px solid gray;
  button{
    width: 50%;
    border-radius: 0;
    height: 50px;
    border: none;
  }
  .call{
    border-left: 2px solid #fff;
  }
}

@media (max-width: 700px){
  mat-grid-list{
    display: block;
  }
  mat-card{
    display: block;
  }
}