<div [ngStyle]="{'display': 'flex', 'justify-content': 'space-between', 'width': '100%', 'align-items': 'center', 'flex-wrap': 'wrap'}">
  <h1 class="mat-h1" [ngStyle]="{'font-weight': '700'}">Instructor</h1> 
  <div class="nav">
    <button mat-flat-button routerLink="/dashboard/studentsAnalytics">Students</button> &nbsp;
    <button mat-flat-button routerLink="/dashboard" >Home</button>
  </div>
</div> 


<div class="grid-container">

  <mat-grid-list cols="4" rowHeight="330px" >
    <mat-grid-tile
    [colspan]="tile.cols"
    [rowspan]="tile.rows"  *ngFor="let tile of tiles | async">
    <mat-card  class="dashboard-card">
      <br>
      <!-- <img src="../../../../assets/images.png" alt=""> -->
      <div mat-card-avatar [ngStyle]="{backgroundImage: 'url(../../../../assets/images.png)', 'background-position': 'center', 'background-size': 'cover','background-repeat': 'no-repeat', 'height': '130px', 'width': '130px', 'border-radius': '50%'}"></div>
      <!-- <span>Fullname</span> -->
      <!-- <br>  -->
      <br>
      <p class="mat-h5"> 
        <span style="font-weight: 700;">
        Fullname
      </span> 
        <br>
        <span style="color: #bdbdbd; font-weight: 500;">
          Proffesion
        </span>
      </p>
     <br>
      <div class="btn">
        <button mat-flat-button color="primary"> <mat-icon>email</mat-icon> Email </button>
        <button mat-flat-button class="call" color="primary"> <mat-icon>phone</mat-icon> Email </button>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>