@import '../../../../assets/styles/varia';
.demo-inline-calendar-card {
  width: 350px;
 margin: 0 auto;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){
  color: white;
  background: teal;
  border: none;
  font-weight: 700;
}
.sidenav-container {
  height: 100%;
}
.container{
  height: 100vh;
  padding:  5%;
}

mat-expansion-panel-header{
padding: 0 3%;
}

.sidenav {
  width: 400px;
  background-color: white;
  color: black;
  // overflow-x: hidden;
}
.sidenav .mat-toolbar {
  background: inherit;
}
.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-evenly;
  align-items: center;
}

.overlay-container{
  z-index: 1;
  background: #fff;
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  width: 380px;
  visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  height: 60vh;
  padding: 2%;
  animation: shrink .2s linear 0s;
  form{
    width: 100%;
      mat-form-field{
        width: 100%;
      }
      
       textarea{
         width: 100%;
         height: 120px;
         resize: none;
         border-radius: 5px;
         padding: 1rem;
       }
  }
}
.overlay-container.grow{
  animation: grow .2s linear 0s;
  visibility: visible;
}
@keyframes grow{
  from{transform: scale(0); opacity: 0;}
  to{transform: scale(1); opacity: 1;}
}
@keyframes shrink{
  from{transform: scale(1); opacity: 1;}
  to{transform: scale(0); opacity: 0;}
}
.describe{
  width: inherit;
  margin: .5rem 0;
  .button{
    float: right;
    button{
      cursor: pointer;
    }
  }
}
.number{
  background: teal;
  color: white;
  padding: 0.5rem .9rem;
  border-radius: 50%;
  font-size: 1rem;
  margin: 0rem 1rem 0rem 0rem;
  top: -.5rem;
  position: relative;
  left: -1rem;

}
.describe{
  border: 1px solid teal;
  border-radius: 5px;
  padding:0 1rem;
}

