<!-- <mat-card class="demo-inline-calendar-card">
  <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar>
</mat-card>

<p>Selected date: {{selectedDate}}</p> -->

<mat-sidenav-container >
  <mat-sidenav  #drawer class="sidenav"  
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="(isHandset$ | async) === false">
  <mat-nav-list>
    
  
  <!-- CALENDAR CARD GOES HERE -->
  <mat-card class="demo-inline-calendar-card">
  <mat-calendar (click)="isVissible = !isVissible" [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar>
</mat-card>

<!-- <p>Selected date: {{selectedDate}}</p> -->
  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  <mat-toolbar color="primary" style="display: flex;justify-content: space-between; align-items: center; padding: 0 1rem; overflow: hidden; box-sizing: border-box;" >
    <div class="toggle">
    <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="!(isHandset$ | async)">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  
    <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  </div>
  </mat-toolbar>
  <div class="container">

    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Day of the trip
          </mat-panel-title>
          <mat-panel-description>
            Inform the date you wish to travel
            <button mat-mini-fab style="box-shadow: none;" color="primary">
              <span class="fas fa-plus"></span>
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="describe">

          <p><span class="number" style="background: teal; color: white;">1</span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, dolor quibusdam illo dolorem perspiciatis deserunt voluptatum, fugiat nulla atque, ipsam vel ipsa perferendis provident! Ex minus illo a reiciendis minima?
          </p>
          <div class="button">
            <button mat-icon-button style="background-color: yellow;">
              <span class="fas fa-pen"></span>
            </button> &nbsp;
            <button mat-icon-button style="background-color: red; color: white;">
              <span class="fas fa-trash"></span>
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  
<div class="overlay-container" [ngClass]="{'grow': isVissible}">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eveniet, tempora quas quod voluptatum voluptate nam. Id maiores iste expedita officia minima, unde ex rerum! Aut praesentium accusamus nemo est!</p><br>
  <form action="">
    <mat-form-field appearance="outline">
      <mat-label>Achhive Title</mat-label>
    <input type="text" matInput>
    </mat-form-field>

    <!-- <textarea placeholder=""></textarea> -->
    <br>
  <button mat-raised-button color="primary" (click)="isVissible = !isVissible" style="box-shadow: none; border-radius: 1.5rem; left: 90px; width: 140px;">Finish</button>
  </form>
</div>
  
  </mat-sidenav-content>
  </mat-sidenav-container>
  