<div class="popup" *ngIf="showPopup">
    <div class="popup-container" [class.error-popup]="errorMessage">
        <h3 class="popup-title" *ngIf="errorMessage == false">success</h3>
        <h3 class="popup-title" *ngIf="errorMessage == true">failure</h3>
        <p class="popup-msg">{{popupMessage}}</p>
        <button class="btn" [class.error-btn]="errorMessage" (click)="closePopup()">ok</button>
    </div>
</div>
