.popup {
    position  : fixed;
    width     : 100%;
    height    : 100%;
    left      : 0;
    top       : 0;
    background: rgba(0, 0, 0, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup-container {
    min-width: 300px;
    min-height: 120px;
    padding: 0 30px;
    z-index: 100;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    background-color: rgba(153, 205, 50, 0.726);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-msg {
    font-weight: 300;
}

.btn {
    padding: 5px 0;
    width: 50%;
    background-color: rgb(139, 226, 7);
    color: white;
}

.error-popup {
    background-color: rgba(243, 57, 57, 0.726);
}

.error-btn {
    background-color: rgba(255, 0, 0, 0.747);
}