<div class="loading-screen" *ngIf="showLoader">


    <div class="loading-screen" *ngIf="showLoader">
        <div id="loading-wrapper">
            <div id="loading-text">LOGGING IN</div>
            <div id="loading-content"></div>
        </div>
    </div>

    <div id="loading-wrapper">
        <div id="loading-text">LOGGING IN</div>
        <div id="loading-content"></div>
    </div>

</div>

<section class="login">
    <h1 class="login-heading"> Hello, welcome back! </h1>

    <div class="container">

        <div class="form-img-container">
            <img src="./../../../assets/img/1form.png" alt="" srcset="">
        </div>

        <div class="form-container">
            <form [formGroup]="loginForm" (ngSubmit)="login()">

                <span class="left">
                    Do not have an account? <a class="signup-btn" routerLink="/auth/signup">signup</a>
                </span>

                <div class="user-details">

                    <mat-form-field appearance="outline" class="username">
                        <mat-label>Email : </mat-label>
                        <input type="email" matInput placeholder="Enter email" name="email" formControlName="email"
                            required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="password">
                        <mat-label>Password : </mat-label>
                        <input type="password" matInput placeholder="Enter Password" name="password"
                            formControlName="password" required [type]="hide? 'password':'text'">

                            <i class="material-icons" matSuffix (click)="hide=!hide">
                                {{hide? 'visibility': 'visibility-off'}}
                            </i>
  
                    </mat-form-field>

                </div>
                
                <div class="rem-container">
                    <div>
                        <input type="checkbox" checked="checked"> Remember me
                    </div>
                    <span>Forgot <a class="forgot-pwd" href="#">password?</a></span>
                </div>

                
                <button mat-button class="login" type="submit">Login</button>
                
            </form>
            <div class="separation">
                <p class="or">or</p>
            </div>
            
            <div class="login-btn-container">
                <button mat-button class="login-btn" (click)="googleLogin()">Login with Google</button>
                <!-- <button mat-button class="login-btn" (click)="facebookLogin()">Login with Facebook</button> -->
            </div>

        </div>

    </div>

</section>


