
@import './../../../assets/fonts/font';

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $default !important;
}

.mat-form-field{
    .mat-input-element{
        color: $default !important;
    }
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border: 1px solid $default !important;
    min-width: 5px;
}


.material-icons{
    display: block;
    color:$default !important;
    cursor: pointer;
}


section.login {
    height: 100vh;
    width : 100%;
    background: #f5f5f5;

    h1.login-heading {
        position   : relative;
        text-transform: capitalize;
        text-align : center;
        padding    : .5rem 1rem;
        font-size  : 22px;
        font-weight: bold;
        font-family: $font-family;

        text-transform: uppercase;

        &::after {
            content         : '';
            background-color: $secondary-orange;
            display         : block;
            height          : 2px;
            width           : 7%;
            position        : absolute;
            left            : 47%;
            z-index         : 1;
        }
    }

    div.container{
        width: 70%;
        height: 80%;
        margin: 0 auto;
        padding: 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        border-radius: 1rem;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3), 0px 3px 4px rgba(0, 0, 0, 0.3);
        background-color: $default;

        div.form-img-container {

            width: 50%;

            img {
                width: 100%;
            }
        }

        div.form-container{
            background-color: #55898b;
            height: 100%;
            width: 50%;

            span.left {
                display     : block;
                text-align  : right;
                margin-right: 1rem;
                padding     : 1rem .5rem;
                font-size   : 18px;
                color       : $default;

                a.signup-btn {
                    text-decoration: none;
                    cursor         : pointer;
                    color          : $secondary-orange;
                    position       : relative;

                    &::after {
                        position        : absolute;
                        content         : '';
                        display         : block;
                        height          : 2px;
                        background-color: #f5f5f5;
                        width           : 0%;
                        z-index         : 1;
                        left            : 30%;
                    }

                    &:hover &::after {
                        width     : 50%;
                        transition: all .35s ease;
                    }
                }
            }

            div.user-details {
                display        : flex;
                flex-direction : column;
                justify-content: center;

                mat-form-field{
                    margin: 0 1rem;
                    font-family: $font-family;
                    font-weight: 400;

                    input{
                        width: 80%;
                    }
                }
            }

            div.rem-container {
                display        : flex;
                justify-content: space-between;
                margin         : 0 1rem;
                color: $default;

                span {
                    display  : block;
                    font-size: 17px;

                    a.forgot-pwd {
                        text-decoration: none;
                        cursor         : pointer;
                        color          : $secondary-orange;
                    }
                }
            }

            button.login {
                outline: none;
                border: none;
                background: $secondary-orange;
                color     : $default;
                font-family: $font-family;
                font-weight: 500;
                cursor    : pointer;
                display: block;
                font-size : 18px;
                margin: 1rem auto;
                
            }

            div.separation {
                text-align: center;
                position  : relative;
    
                p.or {
                    color      : $secondary-orange;
                    font-size  : 20px;
                    font-weight: 500;
                    font-family: $font-family;
                }
    
                &::before {
                    content         : '';
                    display         : block;
                    width           : 30%;
                    height          : 2px;
                    background-color: $default;
                    z-index         : 1;
                    position        : absolute;
                    left            : 17%;
                    top             : 40%;
                }
    
                &::after {
                    content         : '';
                    display         : block;
                    width           : 30%;
                    height          : 2px;
                    background-color: $default;
                    z-index         : 1;
                    position        : absolute;
                    right           : 17%;
                    top             : 40%;
                }
    
            }

            div.login-btn-container{
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 0 auto;

                button{
                    font-size: 17px;
                    display: block;
                    font-family: $font-family;
                    font-weight: 500;

                    &:first-child{
                        margin-right: 1rem;
                        background-color: $default;
                    }

                    &:not(:first-child){
                        background-color: rgb(63, 156, 231);
                        color: $default;
                    }

                    &:hover,
                    &:active{
                        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3), 4px 8px 18px rgba(0, 0, 0, 0.3);
                        transition: box-shadow .35s ease-in;
                    }

                }

            }
            
        }
    }
}

@media only screen and (max-width: 1024px){

    section.login{
        width: 100%;
        height: 90vh;

        div.container{
            height: 70%;
            width: 30rem;
            flex-direction: column-reverse;
        
            div.form-img-container{
                height: 40%;
                display: block;
            }

            div.form-container{
                width: 100%;
                height: 60%;

                div.login-btn-container{
                    width: 80%;
                    flex-direction: row;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){

    section.login{
        width: 100%;
        height: 100vh;

        div.container{
            width: 400px;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            
            div.form-container{
                width: 100%;
                height: 100%;

                div.login-btn-container{
                    flex-direction: column;
                    
                    button:not(:last-child){
                        margin-bottom: 1rem;
                        padding: 0 1.5rem;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 420px){

    section.login{
        width: 100%;
        height: 100vh;

        div.container{
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            
            div.form-img-container{
                display: none;
            }

            div.form-container{
                width: 100%;
                height: 100%;

                div.login-btn-container{
                    flex-direction: column;
                    
                    button:not(:last-child){
                        margin-bottom: 1rem;
                        padding: 0 1.5rem;
                    }
                }
            }
        }
    }
}


#loading-wrapper {
    position  : fixed;
    width     : 100%;
    height    : 100%;
    left      : 0;
    top       : 0;
    width     : 100%;
    height    : 100%;
    background: rgba(0, 0, 0, 0.603);
}

#loading-text {
    display    : block;
    position   : absolute;
    top        : 50%;
    left       : 50%;
    color      : #999;
    width      : 100px;
    height     : 30px;
    margin     : -7px 0 0 -45px;
    text-align : center;
    font-family: 'PT Sans Narrow', $font-family;
    font-size  : 20px;
}

#loading-content {
    display : block;
    position: relative;
    left    : 50%;
    top     : 50%;
    width   : 170px;
    height  : 170px;
    margin  : -85px 0 0 -85px;
    border  : 3px solid #F00;
}

#loading-content:after {
    content : "";
    position: absolute;
    border  : 3px solid #0F0;
    left    : 15px;
    right   : 15px;
    top     : 15px;
    bottom  : 15px;
}

#loading-content:before {
    content : "";
    position: absolute;
    border  : 3px solid $secondary-orange;
    left    : 5px;
    right   : 5px;
    top     : 5px;
    bottom  : 5px;
}

#loading-content {
    border             : 3px solid transparent;
    border-top-color   : #fd0808;
    border-bottom-color: #fd0808;
    border-radius      : 50%;
    -webkit-animation  : loader 2s linear infinite;
    -moz-animation     : loader 2s linear infinite;
    -o-animation       : loader 2s linear infinite;
    animation          : loader 2s linear infinite;
}

#loading-content:before {
    border             : 3px solid transparent;
    border-top-color   : #ff9000;
    border-bottom-color: #ff9000;
    border-radius      : 50%;
    -webkit-animation  : loader 3s linear infinite;
    -moz-animation     : loader 2s linear infinite;
    -o-animation       : loader 2s linear infinite;
    animation          : loader 3s linear infinite;
}

#loading-content:after {
    border             : 3px solid transparent;
    border-top-color   : #55898b;
    border-bottom-color: #55898b;
    border-radius      : 50%;
    -webkit-animation  : loader 1.5s linear infinite;
    animation          : loader 1.5s linear infinite;
    -moz-animation     : loader 2s linear infinite;
    -o-animation       : loader 2s linear infinite;
}

@keyframes loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform    : rotate(0deg);
        transform        : rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform    : rotate(360deg);
        transform        : rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform    : rotate(0deg);
        transform        : rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform    : rotate(360deg);
        transform        : rotate(360deg);
    }
}