header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
  background: #55898b;
  color: #fff;
  h1{
    font-size: 2.4rem;
    font-weight: 700;
  }
  h3{
color: rgb(206, 203, 203);
text-align: center;
width: 60%;
  }
}
.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  mat-form-field{
    width: 35%;
  }
}
.flex-all{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.courses-container{
  width: 100%;
  padding: 0 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  mat-card{
    width: 330px;
    height: 400px;
    border-radius: 1.5rem;
    overflow: hidden;
    margin: 1rem 0;
    .header{
      width: 100%;
      padding: 1rem 0;
      transform: translateY(-24px);
      .title{
        background: #55898b;
        padding: 0rem 1rem;
        border-radius: 1.5rem;
        a{
          font-size: .7rem;
          font-weight: 500;
          color: #fff;
        }
        }
    }
    .content-text{
      h3{
        font-weight: 700;
      }
      .subtitle{
        h3{
          font-size: .8rem;
          margin-top: -1rem;
          // transform: translateY(-30%);
          line-height: 1rem;
          font-weight: 500;
          color: gray;
        }
      }
      .line{
        background-color: gray;
        width: 20%;
        height: 2px;
        border-radius: 1.5rem;
      }
    }
    mat-card-content{
      height: 100px;
      span{
        display: flex;
        align-items: center;
        width: 100%;
        mat-icon{
          margin-right: .3rem;
        }
      }
    }
    .bar{
      width: 113%;
        height: 3px;
        border-radius: 1.5rem; 
        background: #55898b4f;
        transform: translate(-5%, 35px);
        .content-bar{
        height: inherit;
        background: #55898b;
        }
    }
    mat-card-actions{
      background: rgba(248,250,252, .6);
      width: 112%;
      padding-left: 1rem;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      transform: translate(-3%, 35px);
     
      button{
        border-radius: 1.5rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        transform: translateY(-22px);
      }
    }
  }
}
