<header >
  <h1 class="mat-h1">More Books Available In the School </h1>
  <h3 class="mat-h3">Our courses will step you through the process of a building small applications, or adding new features to existing applications.</h3>
</header>
<div class="search">
  <mat-form-field appearance="outline">
    <mat-label>search courses</mat-label>
<input type="text" matInput>
  </mat-form-field>

</div>

<div class="courses-container flex-all">
  <mat-card *ngFor="let i of coursesObject">
    <div class="header flex-all">
      <div class="title"><a>{{i.course | titlecase}}</a></div>
      <div class="icon" *ngIf="!(i.cousrseCompleted <= 0)">
        <mat-icon >verified</mat-icon>
      </div>
    </div>
    <div class="content-text">
      <div class="header-text">
        
        <h3 class="mat-h3">{{ i.courseTitle | titlecase }}</h3> 
      </div>
      <div class="subtitle">
        <h3>
         {{ i.courseDesc | titlecase }}
        </h3>
      </div>
      <br>
      <div class="line"></div>
    </div>
    <mat-card-content>
      <br>
      <span>
        <mat-icon>schedule</mat-icon> {{i.courseTiming}}
      </span>
      <br>
      <span>  
        <mat-icon>school</mat-icon> completed {{i.cousrseCompleted}} times
      </span>
    </mat-card-content>
 <div class="bar"><div class="content-bar" [ngStyle]="{'width': '35%'}"></div></div>
    <mat-card-actions>
      <!-- <a >{{i.cousrseCompleted*10}}%</a> -->
      <button mat-stroked-button>continue <mat-icon>arrow_forward</mat-icon> </button>
    </mat-card-actions>
  </mat-card>



</div>
  <!-- <app-course-not-completed></app-course-not-completed> -->
  <div class="conte">

    <!-- <app-course-completed></app-course-completed> -->
    
  </div>