<h1>blogs details page while awaiting the actual blogs detail page</h1>
<h2>{{blog.fields.title}}</h2>
<p>{{blog.fields.description}}</p>
<img src={{blog.fields.image.fields.file.url}} alt="">
<p>{{blog.fields.text}}</p>
<h4>posted on {{blog.fields.createdOn | date}}</h4>
