<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav  #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar [routerLink]="['/home']" class="menu">
      ASMS
    </mat-toolbar>
    <mat-nav-list >

      <div class="list-items" *ngFor="let item of menuItems">

        <div class="header">
          <br>
          <span class="title">{{item.title | uppercase }}</span>
          <br>
          <span>{{item.subtitle | titlecase}}</span>
        </div>
  
        <a mat-list-item *ngFor="let i of item.other" routerLink="/admin/{{i.link}}">
          <mat-icon>{{i.icon}}</mat-icon> &nbsp;
          {{ i.items | titlecase }}
        </a>
      </div>

      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-description>
             <mat-icon style="margin-right: .5rem;">help_outline</mat-icon>  Help
            </mat-panel-description>
          </mat-expansion-panel-header>

         <button mat-flat-button routerLink="/admin/help" >Home</button>
         <!-- <button mat-flat-button routerLink="/admin/help" >FAQS</button> -->
         <button mat-flat-button routerLink="/admin/guide" >Guides</button>
         <button mat-flat-button routerLink="/admin/supports" >FAQS</button>
        </mat-expansion-panel>
      </mat-accordion>

  
      <div class="list-items" *ngFor="let item of pages">

        <div class="header">
          <br>
          <span class="title">{{item.title | uppercase }}</span>
          <br>
          <span>{{item.subtitle | titlecase}}</span>
        </div>
        <a mat-list-item *ngFor="let i of item.other" routerLink="/admin/{{i.link}}">
          <mat-icon>{{i.icon}}</mat-icon> &nbsp;
          {{ i.items | titlecase }}
        </a>
      </div>

      
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-description>
             <mat-icon style="margin-right: .5rem;">filter_drama</mat-icon> File
            </mat-panel-description>
          </mat-expansion-panel-header>

         <button mat-flat-button routerLink="/admin/projects"  >Projects</button>
         <button mat-flat-button routerLink="/admin/credits">Credits</button>
         <button mat-flat-button routerLink="/admin/schoolarship">Schoolarships</button>
         <button mat-flat-button routerLink="/admin/attendance">Attendance</button>
        </mat-expansion-panel>
      </mat-accordion>

<br><br>  
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background: #fff;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="!(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
      
      <div class="socails">
        <button mat-icon-button>
          <mat-icon  >bookmark</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon matBadge="5" matBadgeColor="warn">message</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon matBadge="4" matBadgeColor="accent">notifications</mat-icon>
        </button>
        <button mat-icon-button [ngStyle]="{'align-items': 'center', 'justify-content': 'center', 'display': 'flex'}" [matMenuTriggerFor]="menu" 
        aria-label="Toggle menu">
          <div mat-card-avatar [ngStyle]="{backgroundImage: 'url(../../assets/images.png)', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center', 'cursor': 'pointer', 'width': '30px', 'height': '30px', 'border-radius': '50%'}">
          </div>

        </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span >
                <span>Sign In as</span>
                <span> Profile@gmail.com</span>
              </span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
              <mat-icon>account_circle</mat-icon>
              <span>Profile</span>
            </button>
            <button mat-menu-item >
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
              <mat-icon>logout</mat-icon>
              <span>Sign Out</span>
            </button>
          </mat-menu>
          
        </div>
      </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    
   <!-- <img src="./general/general.component" alt=""> -->
  </mat-sidenav-content>
</mat-sidenav-container>

