<div
  [ngStyle]="{'display': 'flex', 'justify-content': 'space-between', 'width': '100%', 'align-items': 'center', 'flex-wrap': 'wrap'}">
  <h1 class="mat-h1" [ngStyle]="{'font-weight': '700'}">All Users</h1>
  <div class="nav">
    <button mat-flat-button routerLink="/admin">Home</button> &nbsp;
  </div>
</div>
<div class="allusers" >

<div class="arcodion" *ngFor="let item of getAllSchool | async " 
style="margin: 1rem 0 !important; ">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-description>
          <div class="team">

            <div class="teamcontent">
              <mat-card class="toggle">
                <div class="avatar" mat-card-avatar [ngStyle]="{'background-image': 'url('+item.pictureUrl+')'}">
                </div>
                <p class="mat-h5">
                  <span style="font-weight: 700;">
                    {{item.name | titlecase}}
                  </span>
                  <br>
                  <span style="color: #bdbdbd; font-weight: 500;">
                    {{item.email }}
                  </span>
                </p>

              </mat-card>

            </div>

          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <br>
      <form (ngSubmit)='verifySchool(item.id, item.isVerified)'>
        <mat-checkbox class="example-margin" name="isVerified" [(ngModel)]="item.isVerified">Checked</mat-checkbox>
        <button mat-raised-button color="primary" style="float: right;">update isVerified</button>
      </form>
     
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>
