// .grid-container {
//   margin: 20px;
// }

// .dashboard-card {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   right: 10px;
//   bottom: 10px;
//   border-radius: 1.5rem;
// }
mat-expansion-panel-header{
  height: 60px !important;
}
.team{
  width: 100%;
  height: 100%;
  .header{
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    button{
      margin: 0 .3rem;
    }
  }
  .teamcontent{
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    mat-card{
      margin: 1rem 0;
      width: 270px;
      height: 300px;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      flex-direction: column;
     box-shadow: none;
     background: transparent;
    }
  }
}
.mat-card-avatar{
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat; 
  height: 130px; 
  width: 130px; 
  border-radius: 50%;
}
.team{
  width: 80%;
  float: right;
  .teamcontent{
    .toggle{
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      .avatar{
        height: 50px;
        width: 50px;
      }
      p{
        position: absolute;
        left: 80px;
        bottom: 13px;
        // transform: translate(-250%, 15%);
      }
 
     
    }
  }
}
.allusers{
  padding: 1rem 7%;
}
.checkbox{
  display: flex;
  padding: 0 20px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
mat-accordion{
  margin: 1rem 0 ;
}