<footer class="footer">
    <div class="footer-container auto-margin">
        <div class="container-top">
            <div>
                <h4 class="list-title">about education</h4>
                <p class="footer-txt">
                    Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta
                    adipisci architecto culpa amet.
                </p>
            </div>
            <div>
                <h4 class="list-title">learning</h4>
                <ul class="footer-list">
                    <li>course</li>
                    <li>blog</li>
                    <li>contact</li>
                    <li>terms</li>
                    <li>meetups</li>
                </ul>
            </div>
            <div>
                <h4 class="list-title">learn & grow</h4>
                <ul class="footer-list">
                    <li>blog</li>
                    <li>privacy</li>
                    <li>testimonials</li>
                    <li>handbook</li>
                    <li>helddesk</li>
                </ul>
            </div>
            <div>
                <h4 class="list-title">engage us</h4>
                <ul class="footer-list">
                    <li>marketing</li>
                    <li>visual assistant</li>
                    <li>system analysis</li>
                    <li>advertise</li>
                </ul>
            </div>
            <div>
                <h4 class="list-title">legal</h4>
                <ul class="footer-list">
                    <li>find designers</li>
                    <li>find developers</li>
                    <li>teams</li>
                    <li>advertise</li>
                </ul>
            </div>
        </div>
        <div class="copyright-sec flex-center">
            <div class="copyright-container">
                <h5 class="copy-txt">
                    © 2021 All Rights Reserved.
                </h5>
                <h5 class="copy-txt">
                    Designed by Seven Dev Team
                </h5>
            </div>
        </div>
    </div>
</footer>
