@import './../../../assets/styles/varia2';

$blackborder:1px solid black;
$bluish     :rgb(51, 51, 248);
$light-gray :rgb(199, 199, 199);
$gray       :gray;
$dark-gray  :rgb(82, 82, 82);


/******
************************
FOOTER SECTION
************************
******/

.footer {
    width           : 100%;
    background-color: rgb(11, 13, 21);
    overflow        : hidden;
    padding         : 100px 0;
}

.footer-container {
    width: 90%;

    .container-top {
        display        : flex;
        justify-content: space-between;
        margin-bottom  : 100px;
        flex-wrap      : wrap;

        div {
            max-width: 200px;
        }

        .list-title {
            color         : white;
            margin-bottom : 15px;
            text-transform: uppercase;
            font-size     : 13px;
            font-weight   : 500;
            letter-spacing: 3px;
        }

        .footer-txt {
            color: white;
        }

        li {
            color    : rgb(122, 122, 122);
            cursor   : pointer;
            font-size: 15px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .copyright-sec {
        width: 100%;

        .copyright-container {
            text-align: center;
            color     : whitesmoke;

            .copy-txt {
                font-size: 12px;
            }
        }
    }

    @media only screen and (max-width:800px) {
        .container-top {
            div {
                margin-bottom: 30px;
            }
        }
    }
}