@import './assets/styles/varia';

* {
  padding: 0;
  margin : 0;
  box-sizing : border-box;
  outline: none !important;
}
button{
  outline: none !important;
  border: none !important;
  &:active{
    outline: none !important;
  border: none !important;
  }
  padding   : 0;
  margin    : 0;
  box-sizing: border-box;
  outline   : none;

}

a {
  display        : inline-block;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}

html {
  width: 100%;
}

body {
  width        : 100%;
  counter-reset: section;

  .mat-tab-label-content,
  .mat-tab-link,
  .mat-tab-label {
    color: rgb(83, 83, 85);
  }
}