$blackborder:1px solid black;
$bluish     :rgb(51, 51, 248);
$light-gray :rgb(199, 199, 199);
$gray       :gray;
$dark-gray  :rgb(82, 82, 82);
$blackborder:1px solid black;
$orangeFont : rgb(218, 133, 61);
$grayishFont:rgb(70, 70, 70);

.full-img {
    width : 100%;
    height: 100%;
}

.align-center {
    text-align: center;
}

.no-overflow {
    overflow: hidden;
}

i {
    display: inline-block;
}

.auto-margin {
    margin: 0 auto;
}

.flex-center {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

button {
    cursor: pointer;
}

section {
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
