<header class="header">
    <div class="header-info-sec">
        <div class="header-info-container">
            <div class="domain-container flex-center">
                <h4 class="domain">www.asms.edu</h4>
            </div>
            <div class="info-container">
                <div class="tel-container flex-center">
                    <h5 class="tel">Call: +237 600 000 000</h5>
                </div>
                <div class="icons-container flex-center">
                    <ul class="icon-list">
                        <li routerLink="auth/login"><i  class="fab fa-facebook-f"></i></li>
                        <li routerLink="auth/login"><i class="fab fa-twitter"></i></li>
                        <li routerLink="auth/login"><i class="fab fa-instagram"></i></li>
                        <li routerLink="auth/login"><i class="fab fa-github"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar">
        <h1 routerLink="landing" class="logo"><i class="fas fa-graduation-cap"></i>ASMS.</h1>
        <ul class="navlist">
            <li><a routerLink="landing" class="navlink">home</a></li>
            <li><a routerLink="schools" class="navlink">schools</a></li>
            <li><a routerLink="about" class="navlink">about</a></li>
            <li><a routerLink="blogs" class="navlink">blogs</a></li>
            <li><a routerLink="contact" class="navlink">contact</a></li>
            <li><a routerLink="auth/login" class="navlink high-navlink" *ngIf="!logged">login</a></li>
            <li><a routerLink="user-profile" class="navlink high-navlink" *ngIf="logged">My Profile</a></li>
            <li><a routerLink="user-profile" class="navlink high-navlink" (click)="logout()" *ngIf="logged">Logout</a>
            </li>
        </ul>
        <button class="menu" (click)="isOpen = !isOpen">
            <i class="fas fa-bars"></i>
        </button>
    </nav>

</header>

<nav class="mobile-nav" @myInsertRemoveTrigger *ngIf="isOpen">
    <button class="close-btn" (click)="isOpen = false">&times;</button>
    <a routerLink="landing" class="navlink">home</a>
    <a routerLink="schools" class="navlink">schools</a>
    <a routerLink="about" class="navlink">about</a>
    <a routerLink="blogs" class="navlink">blogs</a>
    <a routerLink="contact" class="navlink">contact</a>
    <a routerLink="auth/login" class="navlink high-navlink" *ngIf="!logged">login</a>
    <a routerLink="user-profile" class="navlink high-navlink" *ngIf="logged">My Profile</a>
    <a routerLink="user-profile" class="navlink high-navlink" (click)="logout()" *ngIf="logged">Logout</a>
</nav>