
@import './../../../assets/styles/_varia2';

$blackborder:1px solid black;
$bluish     :rgb(51, 51, 248);
$light-gray :rgb(199, 199, 199);
$gray       :gray;
$dark-gray  :rgb(82, 82, 82);

/******
************************
HEADER SECTION
************************
******/
.header {
    width : 100%;
    height: auto;
    border-bottom: 1px solid $light-gray;
    position: relative;
}

.header-info-sec {
    border-bottom: 1px solid $light-gray;
    width        : 100%;
    height       : 35px;

    .header-info-container {
        width          : 80%;
        height         : 100%;
        margin         : 0 auto;
        display        : flex;
        justify-content: space-between;

        .domain-container {
            border-left : 1px solid $light-gray;
            border-right: 1px solid $light-gray;
            height      : 100%;
            padding     : 0 10px;

            .domain {
                color      : $dark-gray;
                font-weight: 300;
                font-size  : 15px;
            }
        }

        .info-container {
            display     : flex;
            height      : 100%;
            border-left : 1px solid $light-gray;
            border-right: 1px solid $light-gray;

            .tel-container {
                padding     : 0 10px;
                border-right: 1px solid $light-gray;

                .tel {
                    color      : $gray;
                    font-weight: 300;
                    font-size  : 15px;
                }
            }

            .icons-container {
                padding: 0 10px;

                .icon-list {
                    margin-top : 10px;
                    display    : flex;
                    align-items: center;

                    svg, i {
                        display: inline-block;
                        margin-right: 15px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    @media only screen and (max-width:700px) {
        .header-info-container {
            .domain-container {
                display: none;
            }
        }
    }
}


.navbar {
    width          : 80%;
    height         : 80px;
    margin         : 0 auto;
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    .logo {
        font-size: 30px;
        cursor: pointer;
    }

    .navlist {
        display    : flex;
        align-items: center;
    }

    .navlink {
        margin-left: 15px;
        color      : rgb(56, 56, 56);
        transition : 0.8s color;
        font-weight: 300;
        font-size: 18px;

        &:hover {
            color: black;
        }
    }

    .high-navlink {
        background-color: $bluish;
        color           : white;
        padding         : 5px 10px;

        &:hover {
            box-shadow: 0 8px 15px 0px rgb(109, 109, 109);
            color     : white;
        }
    }

    .menu {
        display   : none;
        font-size : 30px;
        background: none;
        border    : none;
        cursor    : pointer;
    }

    @media only screen and (max-width:1000px) {
        .navlist {
            display: none;
        }

        .menu {
            display: inline-block;
        }
    }
}

.mobile-nav {
    display: none;
    position: fixed;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.966);
    top: 0;
    z-index: 2;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .close-btn {
        background-color: inherit;
        border: none;
        color: white;
        font-size: 50px;
        align-self: flex-end;
        margin-top: 20px;
        margin-right: 20px;
    }

    .navlink {
        color: white;
        font-size: 25px;
    }

    @media only screen and (max-width:1000px) {
        display: flex;
    }
}


