<div class="container">
  <div class="header">

    <h1 class="mat-h1" style="font-weight: 700;">
      STUDENTS
    </h1>
    <div class="btn">
      <button mat-mini-fab color="primary" (click)=" toggleList()">
        <mat-icon>
          list
        </mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="toggleDefault()">
        <mat-icon>
          grid_view
        </mat-icon>
      </button>
    </div>
  </div>
  <div class="main">
    <div class="content" [ngClass]="{'m': list}" *ngFor="let i of students ">

      <mat-card class="toggle" [ngClass]="{'toggle': list}">
        <div [ngClass]="{'avatar': list}" mat-card-avatar
          [ngStyle]="{backgroundImage: 'url(../../../../assets/images.png)'}"></div>
        <p class="mat-h5">
          <span style="font-weight: 700;">
            {{i.displayName}}

          </span>
          <br>
          <span style="color: #bdbdbd; font-weight: 500;">
            {{i.email}}
          </span>
        </p>
        <div class="btn">
          <button mat-flat-button color="primary">Email</button>
          <button mat-flat-button color="primary">Phone</button>
        </div>
      </mat-card>

    </div>
  </div>
</div>
<!-- 
<div *ngFor="let i of allInstructors | async">
  <p *ngIf="(i.role.instructor)">
    {{i.displayName}}
    {{i.email}}
  </p>
</div> -->
