.school-form {
    z-index    : 2;
    width      : 90%;
    margin     : 40px auto 80px auto;
    align-items: center;
    padding-top: 20px;
    display    : flex;
    border-radius: 10px;
    box-shadow : 0px 0px .5px .5px rgba(0, 0, 0, 0.281);
    .in {
        width           : 90%;
        margin-bottom   : 10px;
        margin-top      : 10px;
        margin-left     : 30px;
        padding-left: 5px;
        border-radius   : 5px;
        height          : 40px;
        background-color: rgb(228, 228, 228);
        border          : none;
        border-bottom   : 5px solid rgb(0, 128, 107);
    }

    .files {
        width        : 30%;
        margin-top   : 10px;
        margin-bottom: 10px;
        margin-left  : 5px;
        display      : block;
    }

    #file {
        width        : 30%;
        margin-top   : 10px;
        margin-bottom: 10px;
        margin-left  : 30px;
        display: inline;

        color: white;
        height: 40px;
    }

    .submit-btn {
        cursor: pointer;
    }
}
@media (max-width:800px){
    .school-form{
        .grid2{
            display: none;
        }
        .grid1{
            width: 100%;
        }
    }
}

.full-img {
    display: flex;
    width  : 20%;
    height : 20vh;
}

.grid2 {
    background-color: white;
    width           : 50%;
    margin-top: -40px;
    height          : 110vh;
    background-image: url(../../../assets/img/text.png);
    background-size : cover;
}

.grid1 {
    background-color: white;
    width           : 50%;
    display         : block;
    margin          : 0 auto;
}

label {
    text-align: center;
    width     : 100%;
    font-size : 20px;
    display   : none;
}

#describe {
    background-color: rgb(231, 231, 231);
    border          : none;
    margin-left     : 30px;
    border-radius   : 5px;
    width           : 90%;
    border-bottom   : 5px solid rgb(0, 128, 107);
}

.submit-btn {

    margin-left     : 40%;
    height          : 50px;
    border-radius   : 30px;
    margin-bottom   : 30px;
    color           : white;
    padding         : 0 15px;
    border: none;
    background-color: rgb(0, 175, 146);
}
.disabled {
    background-color: rgb(1, 49, 41);
}
.img-cont{
    width: 70%;
    margin: 0 auto;
}