<div class="all">
  <form [formGroup]="schoolForm" (ngSubmit)="createSchool()" class="school-form">
    <div class="grid1">
      <label for="name">school name</label>
      <input type="text" name="name" id="" class="name-in in" formControlName="name" required
        placeholder="school name here">
      <div *ngIf="schoolName.invalid && (schoolName.dirty || schoolName.touched)" class="alert alert-danger"
        role="alert">
        school must have a name
      </div>
      <label for="email">email</label>
      <input type="email" name="email" id="" class="email-in in" formControlName="email" required
        placeholder="school email address">
      <div *ngIf="schoolEmail.invalid && (schoolEmail.dirty || schoolEmail.touched)" class="alert alert-danger"
        role="alert">
        invalid email
      </div>
      <label for="description">description</label>
      <textarea name="description" id="describe" cols="30" rows="10" class="description-in in"
        formControlName="description" required placeholder="describtion" minlength="500"></textarea>
      <div *ngIf="schoolDescription.invalid && (schoolDescription.dirty || schoolDescription.touched)"
        class="alert alert-danger" role="alert">
        school description too short
      </div>
      <label for="picture" class="files"> school profile</label>
      <mat-progress-bar mode="determinate" [value]="uploadPercent | async" *ngIf="uploadPercent"></mat-progress-bar>
      <input type="file" accept="image/*" (change)="uploadPicture($event)" name="picture" id="file">
      <label for="pictures" class="files">school galary</label>
      <input type="file" accept="image/*" (change)="uploadPictures($event)" name="pictures" id="file" multiple>
      <label for="location">school location</label>
      <input type="text" name="location" id="" class="location-in in" formControlName="location" required
        placeholder="school location">
      <div *ngIf="schoolLocation.invalid && (schoolLocation.dirty || schoolLocation.touched)" class="alert alert-danger"
        role="alert">
        school must have a location
      </div>
      <label for="principal">school principal</label>
      <input type="text" name="principal" id="" class="principal-in in" formControlName="principal" required
        placeholder="school principle">
      <div *ngIf="schoolPrincipal.invalid && (schoolPrincipal.dirty || schoolPrincipal.touched)"
        class="alert alert-danger" role="alert">
        school must have a principal or rector
      </div>
      <label for="website">school website link</label>
      <input type="text" name="website" id="" class="website-in in" formControlName="website"
        placeholder="school web site link">
      <label for="social">social media link</label>
      <input type="text" name="social" id="" class="social-in in" formControlName="social1" placeholder="social links">
      <input type="text" name="social" id="" class="social-in in" formControlName="social2" placeholder="social links">
      <input type="text" name="social" id="" class="social-in in" formControlName="social3" placeholder="social links">
      <label for="tel">school phone number</label>
      <input type="tel" name="tel" id="" class="tel-in in" placeholder="tele" formControlName="tel"
        placeholder="phone number">
      <div *ngIf="schoolTel.invalid && (schoolTel.dirty || schoolTel.touched)" class="alert alert-danger" role="alert">
        school must have a telephone number
      </div>
      <label for="registration">school registration number</label>
      <input type="text" name="registration" id="" class="reg-in in" formControlName="registration" required
        placeholder="school registration number">
      <div *ngIf="schoolReg.invalid && (schoolReg.dirty || schoolReg.touched)" class="alert alert-danger" role="alert">
        school must have a registration number or id
      </div>
      <input type="submit" value="create school" class="submit-btn" [disabled]="!schoolForm.valid"
        [class.disabled]="!schoolForm.valid">
    </div>
    <div class="grid2">
    </div>
  </form>
</div>
<div class="img-cont">
  <img [src]="imageUrl" alt="" class="full-img">
</div>

<div class="img-cont" *ngFor="let img of imagesUrl">
  <img [src]="img" alt="" class="full-img">
</div>