
@import '../../assets/styles/varia2';
@import '../../assets/styles/varia';
$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 2))}
}

main#container{
  width:100% !important;
  overflow: hidden;
 
  .hero{
    width: 100%;
    height:400px;
    margin: 0 0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align:center;
    background: linear-gradient(135deg, rgb(54, 54, 255), rgb(2, 136, 136), rgb(235, 154, 4));
    position: relative;
  }
}
h1{
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  margin-top: 5%;
}
span{
  font-size: 2rem;
  font-weight: 500;
}
.avatar{
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat; 
  height: 50px; 
  width:50px; 
  border-radius: 50%;
}
.school_name{
  text-overflow: ellipsis;
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 600;
  margin-left: .5rem;
}
.body {
  width: 100%;
  padding: 5% 10%;
 margin: 1rem 0;
  mat-card{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all ease .4s;
    padding: 0 1rem;
    margin-top: 1rem;
    &:hover{
      transform: scale(1.01);
       box-shadow: 2px 2px 5px #222;
       cursor: pointer;
    }
    div{
      width: 33%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70px;
      h3{
        transform: translateY(-15%);
      }
      p{
        transform: translateY(30%);
      }
    }
  }
  .icon{
    background: #ddd;
    width: 50px;
    height: 50px;
    transform: translate(-10%, 35%);
    border-radius: 50%;
  }
  .more{
    width: 20px;
    height:20px;
  }
}
.carousel-cards{
  height: 150px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;
  bottom:-80px;

  section{
    animation: scroll $animationSpeed linear infinite;
		display: flex;
		
  }

  section mat-card{
    height: 130px;
		width: 250px;
  
  cursor: pointer;
  margin: 5px ;
  // border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align:left;
  span.text{
    font-size: .8rem;
    margin-left: 2rem;
  }
  .icon{
    background: rgba(235, 154, 4, .5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  border-radius: 5px;
  overflow: hidden;
  transition: all .3s ease-in-out;
  &:hover{
    transform: scale(1.01);
  }

  }
}