<main id="container">
   <div class="school-header-container hero"> 
    <h1>
      View All Schools
      <br>
      Seven Advanced Academy
    </h1>
    <div class="school-registerd">
      <button mat-raised-button routerLink="create-school" color="accent">Create A School</button>

    </div>

    <div class="carousel-cards">
      <section [ngStyle]="{'width': 'calc(250px * 14)'}" class="section-cards" id="slider" 
      >
        <mat-card class="cards"  *ngFor="let i of isSchools ">
          <div class="avatar" 
          mat-card-avatar style="width: 50px;height: 50px;"
          [ngStyle]="{'background-image': 'url('+i.pictureUrl+')'}">
          </div>
          <span class="num">200</span>
          <span class="text">
            {{i.description}}
          </span>
        </mat-card>
        <!-- <mat-card class="cards">
          <span class="fas fa-graduation-cap icon"></span>
          <span class="text">
            <span class="num">200</span>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, sit?
          </span>
        </mat-card>
        <mat-card class="cards">
          <span class="fas fa-graduation-cap icon"></span>
          <span class="text">
            <span class="num">200</span>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, sit?
          </span>
        </mat-card>
        <mat-card class="cards">
          <span class="fas fa-graduation-cap icon"></span>
          <span class="text">
            <span class="num">200</span>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, sit?
          </span>
        </mat-card>
        <mat-card class="cards">
          <span class="fas fa-graduation-cap icon"></span>
          <span class="text">
            <span class="num">200</span>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, sit?
          </span>
        </mat-card>
        <mat-card class="cards">
          <span class="fas fa-graduation-cap icon"></span>
          <span class="text">
            <span class="num">200</span>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, sit?
          </span>
        </mat-card>
        <mat-card class="cards">
          <span class="fas fa-graduation-cap icon"></span>
          <span class="text">
            <span class="num">200</span>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, sit?
          </span>
        </mat-card> -->
      </section>
    
    </div>
  </div>

   <div class="body listOfSchools"> 
    <mat-card *ngFor="let schools of getAllSchools | async" 
    (click)="getSchool()" routerLink="details/{{schools.id}}">
    
      <div>
        <div class="school-name">
          <div class="avatar" 
          mat-card-avatar style="width: 50px;height: 50px;"
          [ngStyle]="{'background-image': 'url('+schools.pictureUrl+')'}">
          </div>
         <span class="school_name"> {{schools.name}}</span>
        </div>
      </div>
        <div>
          <p class="school-location">{{schools.location}}</p>
        </div>
        <div>
          <p class="school-phone">{{schools.email}}</p>
        </div>
        <button mat-icon-button > <span class="fas fa-ellipsis-v more"></span></button>
    
    </mat-card>

    <!-- <mat-card>
    
      <div>
        <h3 class="school-name">
          <span class="fas fa-graduation-cap icon"></span>
          Seven Advanced Academy</h3>
      </div>
        <div>
          <p class="school-location">Bali Doual-Cameroon</p>
        </div>
        <div>
          <p class="school-phone">+237(0237)678263988</p>
        </div>
     <span class="fas fa-ellipsis-v more"></span>
    </mat-card> -->
    
  </div>
  

</main>
<!-- <app-footer></app-footer> -->