.help-center{
width: 100%;
display: flex;
align-items: center;
justify-content:center;
text-align: center;
background: #55898b;
color: #fff;
flex-direction: column;
position: relative;
padding-top: 2rem;
z-index: 1;
&:before {
  content: "";
  width: 300px;
  height: 300px;
  position: absolute;
  left: -25%;
  top: 5%;
  transform: translate(45%, 0);
  z-index: -1;
  border-radius: 50%;
  // background-color: #ddd;
  background-color: #ddd;
}
}
.quik-nav{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  // position: absolute;
  position: relative;
  bottom:-6rem;
  mat-card{
    width: 300px;
    height: 200px;
    border-radius: 1.3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
  }
}