<section class="help-center">
  <p>HELP CENTER</p>
  <h1 style="font-weight: 700 ; font-size:2rem;">How Can We Help You Today?</h1>
  <span>check out our FAQs and guides, contact us for detailed support</span>
  <div class="quik-nav">
    <mat-card>
      <span>Guides</span>
      <span style="color: #bbb; font-weight: 300 !important;">Aticles and resources <br> To guide you</span>
      <br/><br/>
      <button routerLink="/admin/guide"  style="border-radius: 1.5rem; border: 1px solid #eee !important;" mat-stroked-button color="primary">
        Guides  &nbsp;
        <span class="fas fa-arrow-right"></span>
      </button>
    </mat-card>

    <mat-card>
      <span>FAQS</span>
      <span style="color: #bbb; font-weight: 300 !important;">Contact us <br> For More Details</span>
      <br/><br/>
      <button routerLink="/admin/supports" style="border-radius: 1.5rem; border: 1px solid #eee !important;" mat-stroked-button color="primary">
        Contact &nbsp;
        <span class="fas fa-arrow-right"></span>
      </button>
    </mat-card>
   
  </div>
</section>