<main>
    <div class="page">
        <div class="left-page">
            <section class="profile-img-container">
                <img src={{user.photoURL}} alt="" class="full-img">
                <img src="../../assets/img/camera-icon-21.png" alt="" (click)="changePhoto()" class="profile-img-btn">
            </section>
            <div class="photo-container" *ngIf="changePhotoIn">
                <input type="file" accept="image/*" (change)="uploadPicture($event)" name="picture" id="file">
                <img src={{photoURL}} alt="" class="newProfile">
                <button (click)="savePicture()">save new profile</button>
            </div>
            <section class="profie-info-sec">
                <div class="profile-info-container">
                    <div class="info-container">
                        <div class="info-line">
                            <h4 class="info-name">{{user.displayName}}</h4>
                        </div>
                        <div class="info-line">
                            <h4 class="info-name">{{user.email}}</h4>
                        </div>
                        <button class="edit-btn" (click)="editProfile()">Manage Your Account</button>
                        <div class="marquee">

                            <div>
                                <span>
                                    WORK IN PROGRESS!!!!!
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="edit-container" *ngIf="editable">
                        <div class="field">
                            <h3 class="field-name">first name</h3>
                            <input type="text" name="firstName" id="firstName" [(ngModel)]="user.firstName">
                        </div>
                        <div class="field">
                            <h3 class="field-name">last name</h3>
                            <input type="text" name="lastName" id="firstName" [(ngModel)]="user.lastName">
                        </div>
                        <div class="field">
                            <h3 class="field-name">email</h3>
                            <input type="text" name="email" id="firstName" [(ngModel)]="user.email">
                        </div>
                        <div class="field">
                            <h3 class="field-name">phone number</h3>
                            <input type="text" name="phoneNumber" id="firstName" [(ngModel)]="user.phoneNumber">
                        </div>
                        <button class="save-btn" (click)="save()">save changes</button>
                        <button class="close-btn" (click)="closeEdit()">close</button>
                    </div>

                </div>
            </section>
        </div>
        <div class="right-page">
            <mat-tab-group>
                <mat-tab label="MY COURSES" class="mat-tab-label">
                    <section class="courses-sec">
                        <div class="courses-container">
                            <div class="course-card" *ngFor="let course of userCourses">
                                <div class="img-container"></div>
                                <div class="info-container">
                                    <h3 class="course-name">{{course.name}}</h3>
                                    <h3 class="course-instructor">by {{course.instructor}}</h3>
                                </div>
                            </div>
                        </div>
                    </section>
                </mat-tab>
                <mat-tab label="MY SCHOOLS">
                    <section class="courses-sec">
                        <div class="courses-container">
                            <div class="course-card"></div>
                            <div class="course-card"></div>
                            <div class="course-card"></div>
                            <div class="course-card"></div>
                        </div>
                    </section>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</main>