@import './../../assets/styles/varia2';

main {
    background: #08AA9F;

    .page {
        width    : 100%;
        max-width: 1500px;
        display  : flex;




        @media only screen and (max-width:900px) {
            flex-direction: column;
        }
    }

    .left-page {
        width           : 40%;
        padding         : 2%;
        background-color: rgb(10, 14, 21);

        @media only screen and (max-width:900px) {
            width: 100%;
        }


    }

    .right-page {
        width: 58%;

        // background-color: rgb(242, 245, 249);
        box-shadow      : rgba(0, 0, 0, 0.774);
        background-color: #08AA9F;

        @media only screen and (max-width:900px) {
            width: 100%;
        }

        .mat-tab-label {
            color: white;
        }
    }

    .profile-img-container {
        display          : flex;
        flex-direction   : column;
        margin-left      : 40%;
        width            : 100px;
        height           : 100px;
        position         : relative;
        // border        : solid black;
        margin-bottom    : 10px;




        img {
            display        : flex;
            justify-content: center;
            align-items    : center;
            width          : 100%;
            height         : 100%;
            border-radius  : 50%;
            box-shadow     : 0 0 0 3px white;

        }

        .profile-img-btn {
            width           : 20px;
            height          : 20px;
            cursor          : pointer;
            border-radius   : 50%;
            top             : 77%;
            left            : 72%;
            background-color: white;
            position        : absolute;

        }

        .profile-img-btn:hover {
            width : 25px;
            height: 25px;
        }
    }

    .photo-container {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;

        .newProfile {
            width: 100px;
            height: 100px;
            box-shadow     : 0 0 0 3px white;
            margin-bottom: 20px;
        }

        button {
            width: 120px;
            border-radius: 10px;
            background-color: rgb(81, 110, 37);
            font-weight: 200;
            color: white;
            padding: 5px 0;
        }
    }

    .profile-info-container {
        width      : 85%;
        margin-left: 6%;

        padding: 3%;



        hr {
            margin : 0;
            padding: 0;

        }


        .info-container {
            width          : 100%;
            display        : flex;
            justify-content: center;
            align-items    : center;
            flex-direction : column;

            .marquee {

                height     : 30px;
                width      : 100%;
                overflow   : hidden;
                position   : relative;
                margin-left: 30%;
            }

            .marquee div {
                display          : block;
                width            : 100%;
                height           : 100%;
                position         : absolute;
                overflow         : hidden;
                -webkit-animation: marquee 2s linear infinite;
                animation        : marquee 15s linear infinite;
            }

            .marquee span {
                float: left;
                width: 100%;
                color: chocolate;

                padding-top   : 3px;
                letter-spacing: 1px;
            }


            @-webkit-keyframes marquee {
                2% {
                    left: 2;
                }

                90% {
                    left: -90%;
                }
            }

            @keyframes marquee {
                0% {
                    left: 0;
                }

                90% {
                    left: -90%;
                }
            }




            .info-line {
                display: flex;


                .info-name {
                    display: flex;
                    color  : white;
                }
            }

            .edit-btn {
                width           : 55%;
                height          : 30px;
                border          : none;
                border-radius   : 10px;
                color           : white;
                padding         : 1px;
                background-color: rgb(33, 37, 41);
                margin-top      : 3%;
                margin-bottom   : 2%;
            }

            .edit-btn:hover {
                background-color: rgb(37, 44, 51);
            }
        }


        .edit-container {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .field {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                text-transform: capitalize;
                color: blanchedalmond;
                font-weight: 400;
            }
            button {
                margin-bottom: 15px;
                width: 150px;
                padding: 5px 0;
                border-radius: 10px;
            }
        }
    }

    .navbar {
        width: 100%;
    }


    .mat-tab-label-content,
    .mat-tab-link {
        color: blue;
    }

    .courses-container {
        width          : 100%;
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-between;

        .course-card {
            display         : flex;
            justify-content : center;
            align-items     : center;
            width           : 200px;
            height          : 200px;
            box-shadow      : 2px 2px 10px 1px rgb(19, 18, 18);
            margin          : 10px auto;
            background-color: white;
            text-align      : center;
            padding         : 10px;
            border-top      : solid rgb(247, 150, 34)25px;



        }

        .course-card:hover {

            color           : rgb(247, 150, 34);
            background-color: black;
            font-size       : 15px;
            box-shadow      : 5px 5px 20px 5px rgb(19, 18, 18);


        }
    }

}